/* $Id: blocks.css,v 1.4 2009/11/05 11:05:39 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

#feature .block-region, #feature .block {
margin: 0;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
padding-top: 0.667em;
margin-bottom: 0.667em;
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

#search-box {
float: right;
top: 0;
}

/* Sidebar blocks */

.region-sidebar-first .block, .region-sidebar-second .block {
margin-bottom:10px;
}

.region-sidebar-first .block h2.title, .region-sidebar-second  .block h2.title, div.admin-panel h3 {
background:none repeat scroll 0 0 #E6E6E6;
border-left:1px solid #DDDDDD;
border-right:1px solid #BBBBBB;
border-top:1px solid #DDDDDD;
margin:0;
padding:5px 10px;
}

.region-sidebar-first .block div.content, .region-sidebar-second .block div.content, div.admin-panel .body {
background-color:#F4F4F4;
border-color:#DDDDDD #BBBBBB #BBBBBB #DDDDDD;
border-right:1px solid #BBBBBB;
border-style:solid;
border-width:1px;
}

.region-sidebar-first .block .content, .region-sidebar-second  .block .content {
margin:0;
padding:5px 15px;
}

/* Highlight Blocks */
.region-highlight .block {
background-color:#F4F4F4;
border-color:#DDDDDD #BBBBBB #BBBBBB #DDDDDD;
border-style:solid;
border-width:1px;
margin:0 0 1.5em;
padding: 0.1em 1.2em 0.5em;
}

div.admin .left {
margin-left:0.25em;
}

div.admin .right {
margin-right:0.2em;
}
