/* $Id: blocks.css,v 1.4 2009/11/05 11:05:39 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */


.block-region {
color: #000; 
}

.block /* Block wrapper */ {
  margin-bottom: 1em;
}

#feature .block-region, #feature .block {
margin: 0;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
padding-top: 0.667em;
margin-bottom: 0.667em;
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

#headercontent-wrapper .column.HeaderRight #secondary-menu {
    font-size: 90%;
    line-height: 2em;
    margin-bottom: 0;
}

#headercontent-wrapper .column.HeaderRight #secondary-menu {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    float: right;
    padding: 0 0.4em 0.1em;
    margin-top: 0;
}

#headercontent-wrapper #secondary-menu li {
    margin: 0 0.25em;
    padding: 0;
}

#search-box {
text-align: right;
top: 0;
}

/* Sidebar blocks */

.region-sidebar-first .block, .region-sidebar-second .block {
margin-bottom:15px;
}

#feature .block h2.title, 
.region-sidebar-first .block h2.title, 
.region-sidebar-second  .block h2.title, 
div.admin-panel h3,
#mainbottom-wrapper  .block h2.title,
#preface-wrapper  .block h2.title,
.region-content-top  .block h2.title,
#content-top-wrapper .block h2.title,
.region-content-bottom  .block h2.title,
#content-bottom-wrapper .block h2.title {
padding:8px 10px 8px 0px;
border-bottom: 1px dotted #dededf;
}

#feature .block {
padding-top: 15px;
padding-bottom: 10px;
}

.region-sidebar-first .block .content, .region-sidebar-second .block .content {
margin:0;
padding: 0 15px 15px 0;
}

.region-sidebar-first .block .content .menu, 
.region-sidebar-second .block .content .menu {
padding-left: 15px;
}

.region-sidebar-first .block .content .item-list,
.region-sidebar-second .block .content .item-list {
padding-left: 10px;
}

#content-top-wrapper.in2 .ContentTop1 .block {
padding-right: 10px;
}

#content-top-wrapper.in2 .ContentTop2 .block {
padding-left: 10px;
}

#content-bottom-wrapper.in2 .ContentBottom1 .block {
padding-right: 10px;
}

#content-bottom-wrapper.in2 .ContentBottom2 .block {
padding-left: 10px;
}


/* Highlight Blocks */
.region-highlight .block {
background-color:#F4F4F4;
border-color:#DDDDDD #BBBBBB #BBBBBB #DDDDDD;
border-style:solid;
border-width:1px;
margin:0 0 1.5em;
padding: 0.1em 1.2em 0.5em;
}

div.admin .left {
margin-left:0.2em;
width:48%;
}

div.admin .right {
margin-right:0.2em;
width:48%;
}

/* $Id: block-editing.css,v 1.3 2009/11/05 14:01:26 johnalbin Exp $ */

/**
 * @file
 * Zen's rollover edit links for blocks.
 */


#topbar div.block.with-block-editing div.edit  {
  margin-top: 15px;
}

div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  display: none;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px; 
  font-size: 0.75em;
  background-color: #a5a5a5;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

div.block-book ul {
    margin: 0.15em 0 0.15em 0em;
}

.view-viewsslideshow {
margin-top: 5px;
}

.view-viewsslideshow .views-content-title {
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
bottom-right-radius: 10px;
background:none repeat scroll 0 0 #333;
padding:5px 10px;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    line-height: 22px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 95%;
    color: #fff;
}

.view-viewsslideshow .views-field-title {
    background-color: #e6e7e8;
    height: 55px;
    margin-top: -60px;
    opacity: 0.7;
    width: 460px;
    color: #fff;
    bottom: 0;
}

.view-viewsslideshow .views-content-title a {
padding: 10px;
}

.view-viewsslideshow .activeSlide .views-field-counter {
color: #fff;
background: url(../images/rotator_pager_active_bg.png) no-repeat 1px 1px transparent;
}

#views_slideshow_thumbnailhover_teaser_section_viewsslideshow-block_1 {
display: block;
clear: both;
height: 265px;
}

#views_slideshow_thumbnailhover_breakout_teasers_viewsslideshow-block_1 {
width: 100px;
}

.view-viewsslideshow .views-slideshow-controls-bottom {
float: right;
padding-top: 0px;
padding-bottom: 5px;
 margin-right: -5px;
}


.view-viewsslideshow .views-field-nothing {
float: right;
font-style: italic;
font-size: 90%;
margin-top: -20px;
margin-right: 10px;
z-index: 99;
position: relative;
}

.view-viewsslideshow .views-field-counter {
display: inline-block;
float: left;
padding: 0 5px 0 5px;
margin: 0 0.1em 0 0.1em;
color: #000;
background: url(../images/rotator_pager_bg.png) no-repeat 1px 1px transparent;
font-size: 95%;
cursor: pointer; 
cursor: hand;
z-index: 999;
}

/* $Id: jcarousel-default.css,v 1.1.2.1 2010/11/26 22:04:31 quicksketch Exp $ */

/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-container-horizontal {
  width: 440px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}

.jcarouselwide .jcarousel-container-horizontal {
  width: 880px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}


 .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

 .jcarousel-clip-horizontal {
  width: 440px;
}

.jcarouselwide .jcarousel-clip-horizontal {
  width: 880px;
}

 .jcarousel-clip-vertical {
  height: 440px;
}

 .jcarousel-item {
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
}

 .jcarousel-item-horizontal {
  margin: 0 4px;
}

 .jcarousel-item-vertical {
  margin: 4px 0;
}

 .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
 .jcarousel-next,
 .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/arrows.png);
}

/**
 *  Horizontal Buttons
 */
 .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}
 .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
 .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
 .jcarousel-prev-disabled-horizontal,
 .jcarousel-prev-disabled-horizontal:hover,
 .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

 .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}
 .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
 .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}
 .jcarousel-next-disabled-horizontal,
 .jcarousel-next-disabled-horizontal:hover,
 .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px -32px;
}

/**
 *  Vertical Buttons
 */
 .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
 .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
 .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
 .jcarousel-prev-disabled-vertical,
 .jcarousel-prev-disabled-vertical:hover,
 .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

 .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
 .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
 .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
 .jcarousel-next-disabled-vertical,
 .jcarousel-next-disabled-vertical:hover,
 .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}

.featureslideshow .views-field-title {
    background-color: #222;
    height: 65px;
    margin-top: -70px;
    opacity: 0.7;
    width: 100%;
    color: #fff;
    bottom: 0;
}

.featureslideshow .views-field-body {
    margin-top: -35px;
    height: 35px;
    opacity: 0.7;
    color: #fff;
    bottom: 0;
    line-height: 1.2em;
}

.featureslideshow .views-field-title .field-content {
 	padding-left: 10px;
}

.featureslideshow .views-field-body .field-content {
 	padding-left: 10px;
}

