/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* font-family: Century Gothic, Helvetica, Arial, "Nimbus Sans L", sans-serif; */
}

#footer {
  /* font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif; */
}

#sitelogo {
width:100%;
text-align:center;
}

#logo {
float: none;
margin: 0;
}

#logo img {
}

#name-and-slogan {
display: none;
}

#hr {
height: 2px;
width: 50%;
border-top: 2px solid #336686;
margin-left: auto;
margin-right: auto; 
margin-top: 15px;
margin-bottom: 15px;
}

.node {
border-bottom:1px solid #336686;
}

/**
 * @file
 * Page Background Styling
 */

body {
}

body.front, body.not-front {
background: none repeat scroll 0 0 #571605;
}

#page-wrapper {
background: url(../images/pageshadow.png) repeat-y top center #571605;
}

#page {
}

#topbar-wrapper {
}

#topbar-wrapper .section{ 
/* background: url(../images/topbarbg.png) repeat-x 0 0 #7396AC; */
}

#navigation {
background:none repeat scroll 0 0 transparent;
}

#navigation .section {
}

#sitecontent-wrapper {
}

#sitecontent{
background: none repeat scroll 0 0 #fff;
}

#feature {
}

.front #feature {
/* background: url(../images/ivfeatured.jpg) no-repeat 0 -1px #e6e6e6; */
/* height: 217px; */
}

#preface-wrapper {
background:none repeat scroll 0 0 transparent;
}

#main-wrapper {
background: none repeat scroll 0 0 transparent;
}

#main {
background: none repeat scroll 0 0 transparent;
}

#header {
background: none repeat scroll 0 0 transparent; /* for non-css3 browsers */
}

#topbar-wrapper {
}


#header .section {
}

#headercontent-wrapper-bg {
/* background: url(../images/headerbg.jpg) repeat-x top center #e1e1e1; */
}

#headercontent-wrapper {
border-top:1px solid #000;
background: url(../images/pageshadow.png) repeat-y top center transparent;
border-bottom:1px solid #000;
}

#headercontent-wrapper .section {
border-left:1px solid #000;
border-right:1px solid #000;
/* height: 152px; */
/* background: url(../images/headercontentbg.jpg) repeat-x top center #e1e1e1; */
}


#bottom {
/* background: url(../images/footerbg.png) repeat-x bottom left #1c536f; */
color: #fff;
}

#bottom .section {

}


#footer {
/* background: url(../images/footermic.png) no-repeat bottom right transparent; */
min-height: 125px;
height:auto !important;
height: 125px;
}

#footer .section {
}

#footer p {
padding: 0;
margin: 0;
}

/* text colors */

#sitecontent-wrapper h2, h3 {
color: #255720;
}

#body {
}

#feature {
}

#topbar {
}

header {
}

#navigation{
}

#preface-wrapper{
}

#bottom {
color:#FFFFFF;
}

#closure-wrapper {
}

#closure {
}

/* Link Colors */

.footersidebar a {
text-decoration: underline;
}

#footer a:link {
color: #fff;
}

#footer a:visited {
color: #fff;
}

#footer a:hover,
#footer a:focus {
color: #fff;
}

#footer a:active {
color: #fff;
}

#footer li a.active,  {
color: #fff;
}

#header a:link {
color: #FFF
}

#header a:visited {
color: #FFF
}

#header a:hover,
#header a:focus {
color: #fff
}

#header a:active {
color: #fff
}

#header li  a.active,  {
color: #fff
}

#headercontent-wrapper a:link {
color: #000
}

#headercontent-wrapper a:visited {
color: #000
}

#headercontent-wrapper a:hover,
#headercontent-wrapper a:focus {
color: #000
}

#headercontent-wrapper a:active {
color: #000
}

#headercontent-wrapper li  a.active,  {
color: #000
}

a:link {
color: #336686
}

a:visited {
color: #336686
}

a:hover,
a:focus {
color: #336686
}

a:active {
color: #336686
}

/* blocks */

#preface-wrapper .block h2.title {
/* background: url(../images/h2bullet.png) no-repeat 0 0.86em; */
/* padding-left: 1.2em; */ 
/* color: #336686; */
}

#mainbottom-wrapper .block h2.title, #content-top-wrapper h2, .region-content-top h2.title, .region-content-bottom .block h2.title, #content-bottom-wrapper .block h2.title {
/* background: url(../images/h2bullet-small.png) no-repeat 0 0.9199em; */
/* padding-left: 1em; */
/* color: #255720; */
}

/* superfish.css */

#nav ul.menu li.active-trail, #nav ul.menu li:hover, #nav .menu li li:hover, #nav .menu li li li:hover, #superfish ul.menu li.active-trail, #superfish ul.menu li:hover, #superfish .menu li li:hover, #superfish .menu li li li:hover {
background:#1A3444 none repeat-x scroll 0 0;
}

#nav li, #superfish li {
border-right:1px solid #000000;
}

#header #superfish ul li.last {
border-right:medium none;
}

#navigation #nav, #navigation #superfish {
border-left:1px solid #000000;
}

#superfish .menu li li, #superfish .menu li li li {
background:#1F3E52 none repeat scroll 0 0;
border-bottom:1px solid #1A3444;
border-top:1px solid #415C6D;
}

#superfish .menu li li:hover, #superfish .menu li li li:hover {
border-top:1px solid #002942;
}

#superfish .menu li li li {
border-left:1px solid #1A3444;
border-right:1px solid #1A3444;
}

#nav li a, #superfish li a, #nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
color:#FFFFFF;
}

#nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
color:#FFFFFF;
font-size:12px;
padding-left:30px;
padding-right:30px;
padding-top:10px;
text-decoration:none;
}

#superfish .menu li:hover ul, #superfish .menu li.sfHover ul {
top:32px;
}

#nav li a, #superfish li a {
color:#FFFFFF;
font-size:12px;
font-weight:bold;
padding:7px 29px 0;
text-decoration:none;
text-transform:uppercase;
}

#nav, #superfish {
height:32px;
}


/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */

#preface-wrapper {
padding-top: 15px;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 100%;
float: none;
}

#preface-wrapper.in2 .column {
width: 50%;
}

#preface-wrapper.in4 .column {
width: 25%;
}

#preface-wrapper .block {
padding-left:30px;
padding-right:30px;
}

/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */

#mainbottom-wrapper {
padding-bottom: 15px;
}

#mainbottom-wrapper .column {
float: left;
}

#mainbottom-wrapper.in1 .column {
width: 100%;
}

#mainbottom-wrapper.in2 .column {
width: 50%;
}

#mainbottom-wrapper.in3 .column {
width: 33.3%;
}

#mainbottom-wrapper.in4 .column {
width: 25%;
}

#mainbottom-wrapper .block {
padding-left:30px;
padding-right:30px;
}

/* Footer */

.column.P {
border-top: 1px solid #dfdfdf; 
}


/* Search Block */

#islandora-solr-simple-search-form .form-item {
margin: 0px;
float: left;
}
  
#islandora-solr-simple-search-form .form-item label  { 
 color: #fff; /* Wrapper for the search form */
}  
  
#islandora-solr-simple-search-form .form-item input {
  margin: 1px 5px 0 0;
  width: 180px;
  border: 1px solid #2E5067;
  display: inline;
  float: left;
  height: 17px;
  font-size: 11.5pt;
}

#islandora-solr-simple-search-form input.form-submit, #search-form input.form-submit {
height: 24px;
width: 24px;
cursor: pointer;
text-indent: -9999px;
border: none;
background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top; /* color options are greenblue brown */
display: inline;
float: left;
clear: right;
}
  
#islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus {
  border: 2px solid #2E5067;
}

#islandora-solr-simple-search-form label {
    display: none;
}


