/* $Id: forms.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Form Styling
 */


.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Search (search-theme-form.tpl.php)
 */
#search-box /* Wrapper for the search form */ {
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Search (search-block-form.tpl.php)
 */
#search-block-form /* Wrapper for the search form */ {
}

#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  border: 0.7px solid #D6D1D1;
  color: #000;
  font-size: 110%;
  padding: 0.3em 0.5em;
  background-color: #ececec;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}

.form-item, .form-checkboxes, .form-radios {
    margin: 0.5em 0;
}

.form-select option {
padding-top: 1px;
padding-bottom: 1px;
}

/* Search Block */

#header #google-cse-searchbox-form .form-item,
#header #islandora-solr-simple-search-form .form-item {
margin: 0px;
float: left;
}
  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  margin: 4px 0px 0 0;
  width: 200px;
  display: inline;
  height: 17px;
  font-size: 9.5pt;
  color: #CCC;
  -moz-border-radius: 3px;
  -moz-border-radius: 3px;
  border-top-right: 3px;
  border-top-left: 3px;
  -webkit-border-radius: 3px;
  padding-right: 20px;
   padding-left: 5px;
  border: 1px solid #000;
  -moz-box-shadow:0 1px 0 #444444;
  background: #fff url(../images/insearch-magglass.png) no-repeat right center;
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #fff url(../images/insearch-magglass.png) no-repeat right center;
color: #FFFFFF;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#fff url(../images/insearch-magglass.png) no-repeat right center;
border:1px solid #EEEEEE;
color:#333333;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-shadow:0 1px 0 #FFFFFF;
}


#header #google-cse-searchbox-form  input.form-submit, 
#header #islandora-solr-simple-search-form input.form-submit, 
#header #search-form input.form-submit, 
#header #search-box input.form-submit,
#header #search-block-form input.form-submit {
height: 21px;
width: 21px;
cursor: pointer;
text-indent: -9999px;
border: none;
/* background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top;  */
display: none;
clear: right;
}
  
#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #2E5067;
}

#navbar-wrapper .NavbarRight form {
padding: 2px 0;
}


/* ------------------------------------------
CSS3 GITHUB Buttons for Drupal 6
Licensed under Unlicense 
------------------------------------------ */


/* ------------------------------------------------------------------------------------------------------------- form-submit */


.node_read_more a,
.node_read_more a:link,
.node_read_more a:visited,
.comment_add a,
.comment_add a:link,
.comment_add a:visited,
.print_html a,
.print_html a:link,
.print_html a:visited,
.button,
.form-submit,
#views-ajax-pad .form-buttons .form-submit,
.teaser-button,
.content-overview-links a,
.content-overview-links a:link,
.content-overview-links a:visited,
.container-inline a,
.container-inline a:link,
.container-inline a:visited { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font-size: 94%;
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    border: 1px solid #bbb; 
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
	line-height: 1.25em;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
    padding: 0.34em 1em;
    margin-top: 0.2em;
    }

.container-inline {
line-height: 1.25em;
}

#tabs-tabset ul.primary  a,
.tabs ul.primary  a { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.55em 1.3em 0.3em;
    border: 1px solid #cccccc;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font-size: 95%;
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);  
    -webkit-border-top-right-radius: 0.2em; 
    -webkit-border-bottom-right-radius: 0; 
    -webkit-border-top-left-radius: 0.2em; 
    -webkit-border-bottom-left-radius: 0;  
    -webkit-background-clip: padding;    
    -moz-border-radius-topright: 0.2em; 
    -moz-border-radius-bottomright: 0; 
    -moz-border-radius-topleft: 0.2em; 
    -moz-border-radius-bottomleft: 0; 
    -moz-background-clip: padding;    
    border-top-right-radius: 0.2em; 
    border-bottom-right-radius: 0; 
    border-top-left-radius: 0.2em; 
    border-bottom-left-radius: 0;    
    background-clip: padding-box;
    /* IE hacks */
    zoom: 1; 
    *display: inline;   
}

#edit-delete,
#feeds-delete-tab-form .form-submit {
    color: #990000;
}


#feeds-delete-tab-form .form-submit:hover,
#feeds-delete-tab-form .form-submit:focus,
#feeds-delete-tab-form .form-submit:active,
#edit-delete:hover,
#edit-delete:focus,
#edit-delete:active
{
    border-color: #B53F3A;
    border-bottom-color: #A0302A;
    color: #fff; 
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DA5D57), to(#B43731));
    background-image: -moz-linear-gradient(#DA5D57, #B43731);
    background-image: -o-linear-gradient(#DA5D57, #B43731);
    background-image: linear-gradient(#DA5D57, #B43731);
}


.node_read_more a:hover,
.node_read_more a:focus,
.node_read_more a:active,
.comment_add a:hover,
.comment_add a:focus,
.comment_add a:active,
.print_html a:hover,
.print_html a:focus,
.print_html a:active,
.button:hover,
.button:focus,
.button:active,
.form-submit:hover,
.form-submit:focus,
.form-submit:active,
#views-ajax-pad .form-buttons .form-submit:hover,
#views-ajax-pad .form-buttons .form-submit:focus,
#views-ajax-pad .form-buttons .form-submit:active,
.teaser-button:hover,
.teaser-button:focus,
.teaser-button:active,
.container-inline a:hover,
.container-inline a:focus,
.container-inline a:active,
.content-overview-links a:hover,
.content-overview-links a:focus,
.content-overview-links a:active
{
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8DABF4), to(#516A89));
    background-image: -moz-linear-gradient(#8DABF4, #516A89);
    background-image: -o-linear-gradient(#8DABF4, #516A89);
    background-image: linear-gradient(#8DABF4, #516A89);
}

#feeds-delete-tab-form .form-submit:active,
#feeds-delete-tab-form .form-submit.active,
#edit-delete:active,
#edit-delete.active {
    border-color: #A0302A;
    border-bottom-color: #B53F3A;
    color: #fff; 
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B43731), to(#DA5D57));
    background-image: -moz-linear-gradient(#B43731, #DA5D57);
    background-image: -o-linear-gradient(#B43731, #DA5D57);
    background-image: linear-gradient(#B43731, #DA5D57);
}




.node_read_more a:active,
.node_read_more a.active,
.comment_add a:active,
.comment_add a.active,
.print_html a:active,
.print_html a.active,
.button:active,
.button.active,
.form-submit:active,
.form-submit.active,
#views-ajax-pad .form-buttons .form-submit:active,
#views-ajax-pad .form-buttons .form-submit.active,
.teaser-button:active,
.teaser-button.active,
.container-inline a:active,
.container-inline a.active,
.content-overview-links a:active,
.content-overview-links a.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516A89), to(#8DABF4));
    background-image: -moz-linear-gradient(#516A89, #8DABF4);
    background-image: -o-linear-gradient(#516A89, #8DABF4);
    background-image: linear-gradient(#516A89, #8DABF4);
}

#tabs-tabset ul.primary  a:hover,
#tabs-tabset ul.primary  a:focus,
#tabs-tabset ul.primary  a:active,
.tabs ul.primary  a:hover,
.tabs ul.primary  a:focus,
.tabs ul.primary  a:active
{
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 #fff; 
    border-top: 1px solid #cccccc; 
    border-bottom: 0px solid #cccccc; 
    color: #333; 
    background-color: #e7e7e7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e7e7e7));
    background-image: -moz-linear-gradient(#f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(#f7f7f7, #e7e7e7);
    background-image: linear-gradient(#f7f7f7, #e7e7e7);
}


#tabs-tabset ul.primary li.ui-tabs-selected a,
#tabs-tabset ul.primary li.ui-tabs-selected a,
#tabs-tabset ul.primary li.ui-tabs-selected a:hover,
#tabs-tabset ul.primary li.ui-tabs-selected a:focus,
#tabs-tabset ul.primary li.ui-tabs-selected a:active,
#tabs-tabset ul.primary li.ui-tabs-selected a.active,
.tabs ul.primary li:active a,
.tabs ul.primary li.active a,
.tabs ul.primary li.active a:hover,
.tabs ul.primary li.active a:focus,
.tabs ul.primary li.active a:active,
.tabs ul.primary li.active a.active {
    text-shadow: -1px -1px 0 #fff; 
    border-top: 1px solid #cccccc; 
    border-bottom: 1px solid #ffffff; 
    color: #333; 
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -moz-linear-gradient(#ffffff, #ffffff);
    background-image: -o-linear-gradient(#ffffff, #ffffff);
    background-image: linear-gradient(#ffffff, #ffffff);
}

#header fieldset.captcha-admin-links {
display: none
}

/* overrides extra padding on form-submit elements in Firefox */
.button::-moz-focus-inner,
.form-submit::-moz-focus-inner,
.teaser-button::-moz-focus-inner,
.tab::-moz-focus-inner,
#tabs-tabset::-moz-focus-inner {
	border: none;
}

#tabs-tabset,
div.tabs {
   width: 100%;
}

ul.primary {
    margin: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    display: block;
    width: 100%;
}

ul.primary li a {
    background-color: transparent;
    border-width: 0px;
    margin-right: 0em;
    padding: 0em;
    text-decoration: none;
}

/* correct teaser-button margin so it does not fall into text area */
div.teaser-button-wrapper {
    margin-top: -5px;
    padding-right: 0;
}

/* pulls form submit buttons closer together */
.form-submit + .form-submit, .form-submit + .form-submit-group, .form-submit-group + .form-submit, .form-submit-group + .form-submit-group {
    margin-left: 0;
}

/* ............................................................................................................. Icons */



#search-form .form-submit { 
background-image: url(../images/search-darkgrey.png),-webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
background-image: url(../images/search-darkgrey.png),-moz-linear-gradient(#f2f2f2, #dddddd);
background-image: url(../images/search-darkgrey.png),-o-linear-gradient(#f2f2f2, #dddddd);
background-image: url(../images/search-darkgrey.png),linear-gradient(#f2f2f2, #dddddd);
background-position: 0;
padding-left: 20px;
}

#search-form .form-submit:hover,
#search-form .form-submit:focus,
#search-form .form-submit:active { 
background-image: url(../images/search-white.png),-webkit-gradient(linear, 0 0, 0 100%, from(#8DABF4), to(#516A89));
background-image: url(../images/search-white.png),-moz-linear-gradient(#8DABF4, #516A89);
background-image: url(../images/search-white.png),-o-linear-gradient(#8DABF4, #516A89);
background-image: url(../images/search-white.png),linear-gradient(#8DABF4, #516A89);
background-position: 0;
padding-left: 20px;
}

#search-form .form-submit:active,
#search-form .form-submit.active {
background-image: url(../images/search-white.png),-webkit-gradient(linear, 0 0, 0 100%, from(#516A89), to(#8DABF4));
background-image: url(../images/search-white.png),-moz-linear-gradient(#516A89, #8DABF4);
background-image: url(../images/search-white.png),-o-linear-gradient(#516A89, #8DABF4);
background-image: url(../images/search-white.png),linear-gradient(#516A89, #8DABF4);
background-position: 0;
padding-left: 20px;
}

/* ------------------------------------------------------------------------------------------------------------- form-submit GROUPS */

/* ............................................................................................................. Standard */

.group ul{
    position: relative; 
    overflow: visible; 
    padding: 0em; 
    border: 1px solid #d4d4d4; 
    white-space: nowrap;
    outline: none; 
    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;    
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;     
    list-style: none;
    margin: 0.5em 0 0 0;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

#tabs-tabset,
.tabs {
margin-top: 1.5em;
margin-bottom: 2em;
}

ul.primary .tabs li {
    float: left;
    padding: 0;
    margin: 0;
}

#tabs-tabset ul.primary  a,
.tabs ul.primary  a {
    float: left;
    position: relative;
    top: 1px;
    margin-left: 3px;
}

#tabs-tabset > ul.primary a:active,
.tabs > ul.primary a:active {
	background-color: #EFEFEF;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7e7), to(#f7f7f7));
    background-image: -moz-linear-gradient(#e7e7e7, #f7f7f7);
    background-image: -o-linear-gradient(#e7e7e7, #f7f7f7);
    background-image: linear-gradient(#e7e7e7, #f7f7f7);
    border-bottom: 1px solid #ccc;     
}

#tabs-tabset > ul.primary a:not(:first-child):not(:last-child),
#tabs-tabset li:not(:first-child):not(:last-child) ul.primary a,
.tabs > ul.primary a:not(:first-child):not(:last-child),
.tabs li:not(:first-child):not(:last-child) ul.primary a { 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0;   
}

#tabs-tabset > a:first-child,
#tabs-tabset li:first-child a,
.tabs > a:first-child,
.tabs.primary li:first-child a { 
    -webkit-border-top-right-radius: 0.2em; 
    -webkit-border-bottom-right-radius: 0; 
    -moz-border-radius-topright: 0.2em; 
    -moz-border-radius-bottomright: 0; 
    border-top-right-radius: 0.2em; 
    border-bottom-right-radius: 0; 
    -webkit-border-top-left-radius: 0.2em; 
    -webkit-border-bottom-left-radius: 0; 
    -moz-border-radius-topleft: 0.2em; 
    -moz-border-radius-bottomleft: 0; 
    border-top-left-radius: 0.2em; 
    border-bottom-left-radius: 0;  
    border-right: 1px solid #cccccc;     
    border-left: 1px solid #cccccc; 
}

#tabs-tabset > a:last-child,
#tabs-tabset ul.primary li:last-child a,
.tabs > a:last-child,
.tabs.primary li:last-child a { 
    -webkit-border-top-right-radius: 0.2em; 
    -webkit-border-bottom-right-radius: 0; 
    -moz-border-radius-topright: 0.2em; 
    -moz-border-radius-bottomright: 0; 
    border-top-right-radius: 0.2em; 
    border-bottom-right-radius: 0; 
    -webkit-border-top-left-radius: 0em; 
    -webkit-border-bottom-left-radius: 0em; 
    -moz-border-radius-topleft: 0.2em; 
    -moz-border-radius-bottomleft: 0; 
    border-top-left-radius: 0.2em; 
    border-bottom-left-radius: 0em;   
    border-right: 1px solid #cccccc; 
    border-left: 1px solid #cccccc;
}

#main-wrapper .form-text, #main-wrapper textarea {  
    padding: 0.345em;
    border: solid 1px #cccccc;  
    outline: 0;
    background: #FFFFFF;  
    }  
  
#main-wrapper .form-text:hover, #main-wrapper textarea:hover,  
#main-wrapper .form-text:focus, #main-wrapper textarea:focus {  
    border-color: #C9C9C9;  
    }  
    
.resizable-textarea {
    width: 98%;
}    