/* $Id: forms.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Form Styling
 */


.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Search (search-theme-form.tpl.php)
 */
#search-box /* Wrapper for the search form */ {
}

#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Search (search-block-form.tpl.php)
 */
#search-block-form /* Wrapper for the search form */ {
}

#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: center; /* LTR */
  border: 0.7px solid #D6D1D1;
  color: #000;
  font-size: 110%;
  padding: 	0.5em;
}


form tbody th {
  border-bottom: 1px solid #ccc;
}

.form-item, .form-checkboxes, .form-radios {
    margin: 0.5em 0;
}

.form-select option {
padding-top: 1px;
padding-bottom: 1px;
}

/* Search Block */

#header #google-cse-searchbox-form .form-item,
#header #islandora-solr-simple-search-form .form-item {
margin: 0px;
float: left;
}
  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  margin: 4px 0px 0 0;
  width: 200px;
  display: inline;
  height: 17px;
  font-size: 9.5pt;
  color: #CCC;
  -moz-border-radius: 3px;
  border-top-right: 3px;
  -moz-border-radius: 3px;
  border-top-left: 3px;
  padding-right: 20px;
   padding-left: 5px;
  border: 1px solid #000;
  -moz-box-shadow:0 1px 0 #444444;
  background: #fff url(../images/insearch-magglass.png) no-repeat right center;
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #fff url(../images/insearch-magglass.png) no-repeat right center;
color: #FFFFFF;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#fff url(../images/insearch-magglass.png) no-repeat right center;
border:1px solid #EEEEEE;
color:#333333;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-shadow:0 1px 0 #FFFFFF;
}


#header #google-cse-searchbox-form  input.form-submit, 
#header #islandora-solr-simple-search-form input.form-submit, 
#header #search-form input.form-submit, 
#header #search-box input.form-submit,
#header #search-block-form input.form-submit {
height: 21px;
width: 21px;
cursor: pointer;
text-indent: -9999px;
border: none;
/* background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top;  */
display: none;
clear: right;
}
  
#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #2E5067;
}

