/* $Id: html-reset.css,v 1.6.2.2 2010/06/26 15:36:03 johnalbin Exp $ */

/**
 * @file
 * HTML Element Styling
 *
 * Ok, I admit it. I fooled you. This isn't a "reset" stylesheet. Instead this
 * is the place where you should set (not reset) the default styling for all
 * HTML elements.
 *
 * @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 * @see http://snook.ca/archives/html_and_css/no_css_reset/
 */


/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following ALA
 * article:
 *   http://www.alistapart.com/articles/howtosizetextincss
 *
 * All modern browsrs use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  color: #555555;
}

#skip-link,
#page {
  /*
   * To use a 12px font size on the page, delete the 14px declarations.
   * to use a 14px font size on the page, delete the 12px declarations.
   */

  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.5em; /* 12px x 1.5 = 18px */



}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  
}

pre,
code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

#name-and-slogan {
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
}

html.js fieldset.collapsible .fieldset-wrapper {
overflow:visible;
}

/*
A Revised Font Stack
from A Way Back
http://www.awayback.com/revised-font-stack/

*/



/*
Serif font-stack
*/

/*GARAMOND(23.84% on Mac, 86.24% on Windows)*/
.garamond {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/*LUCIDA BRIGHT(64.90% on Mac, 33.84% on Windows) Huge x-height*/
.lucida_bright {
  font-family: "Lucida Bright", Georgia, serif;
}

/*PALATINO(79.71% on Mac, 98.04% on Windows)*/
.palatino {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

/*BIG CASLON(85.10% on Mac)*/
.big_caslon {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

/*DIDOT(87.72% on Mac)*/
.didot {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/*BASKERVILLE(88.60% on Mac, 49.10% on Windows)*/
.baskerville {
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/*HOEFLER TEXT(88.70% on Mac, 1.16% on Windows)*/
.hoefler_text {
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

/*BODONI(47.89% on Windows)*/
.bodoni_mt {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/*GOUDY OLD STYLE(51.30% on Windows)*/
.goudy_old_style {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

/*CONSTANTIA(53.81% on Windows)*/
.constantia {
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

/*CAMBRIA(54.51% on Windows)*/
.cambria {
  font-family: Cambria, Georgia, serif;
}

/*BOOK ANTIQUA(86.09% on Mac)*/
.book_antiqua {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}


/*
Sans-Serif font-stack
*/

/*OPTIMA(90.14% on Mac)*/
.optima {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/*FUTURA(91.01% on Mac)*/
.futura {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/*GILL SANS(91.52% on Mac, 51.74% on Windows)*/
.gill_sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/*TREBUCHET(94.20% on Mac, 99% on Windows)*/
.trebuchet {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

/*HELVETICA NEUE(94.74% on Mac)*/
.helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*VERDANA(96.81% on Mac, 99.40% on Windows)*/
.verdana {
  font-family: Verdana, Geneva, sans-serif;
}

/*LUCIDA GRANDE(99.13% on Mac, 98.25% on Windows)*/
.lucida_grande {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/*GENEVA(98.84% on Mac)*/
.geneva {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}

/*SEGOE(45.04% on Windows)*/
.segoe {
  font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

/*CANDARA(54.31% on Windows)*/
.candara {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/*CALIBRI(54.76% on Windows)*/
.calibri {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/*FRANKLIN GOTHIC MEDIUM(97.89% on Mac)*/
.franklin_gothic {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

/*TAHOMA(99.30% on Windows)*/
.tahoma {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/*
 * Headings
 */
h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                           Remember, a margin specified in ems is relative to
                           the element's font-size, not to the pages' base
                           font size. So, for example, if we want a 1em margin
                           (relative to the base font), we have to divide that
                           length by the element's font-size:
                           1em / 2em = 0.5em */
}


h2 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
  margin-bottom: 0.667em;
}

h2.block-title {
  font-weight: normal;
    font-size: 1.1em;
}

h3 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
  margin-bottom: 0.769em;
}

h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
  margin-bottom: 0.909em;
}

h1, h2, h3, h4, h5, h6 {
color: #343434;
}

#bottom {
font-size: 90%;
}

#closure {
font-size: 60%;
text-align: center;
padding: 0.5em 0;
border-top: 1px solid #BBBBBB;
}

/*4
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1em 0;
}

#feature p {
margin: 0;
padding: 0 0 1em 0;
}

blockquote {
  background: url(../images/open-quote.png) no-repeat 0 0;
  font: italic;
  margin: 1em 0.5em;
}

blockquote p {
  background: url(../images/close-quote.png) no-repeat right bottom;
  margin-left: 2.2em;
  padding-right: 1.5em;
}


/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
 

ul,
ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul /* Drupal overrides */ {
  margin: 1em 0;
  padding: 0 0 0 1em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li /* Drupal override */ {
  margin:0;
  padding:0;
  list-style: inherit;
}

ul.menu li,
li.expanded, 
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0.15em 0 0.15em 0.5em;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

#bottomcontent-wrapper ul{
list-style-type: none;
list-style-image: none;
}

#bottomcontent-wrapper .block-aggregator ul li{
padding-bottom: 0.2em;
}

#aggregator .feed-item-title {
font-size: 1.1em;
}

#aggregator .feed-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

#aggregator .feed-item-date {
	color: #888;
	font-size: 90%;
}

#aggregator .feed-url,
#aggregator .feed-updated,
#aggregator .feed-item-categories {
	color: #888;
	font-size: 95%;
}

#aggregator .feed-item-title a{
text-decoration: none;
}

#aggregator .feed-item-title a:hover{
text-decoration: none;
}

#bottom .item-list ul li {
padding:0 0 0.2em;
}


/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
/* Link Colors */




#bottom li.leaf, .footersidebar #secondary-links {
list-style-image: none;
list-style-type: none;
}

#bottom .block ul, #bottom .item-list ul {
margin: 0;
padding: 0;
}

#bottom ul.menu li,#bottom li.expanded, #bottom li.collapsed, #bottom li.leaf,  .footersidebar ul.links li {
margin-left: 0;
padding-left: 0;
}


#bottom .footersidebar ul.menu li,
#bottom .footersidebar li.expanded, 
#bottom .footersidebar li.collapsed,
#bottom .footersidebar li.leaf /* Drupal override */ {
  margin: 0.25em 0 0.25em 0.5em;
  padding: 0;
}

#bottom ul.menu, .footersidebar ul.links {
text-transform:normal;
}

.footersidebar ul.links li {
display:block;
}

.block-menu h2.title {
}

#header .block-menu h2.title {
display: none;
}


/*
 * Link Colors
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */


a:link {
color: #5c6da3;
text-decoration: none;
}

a:visited {
color: #5c6da3;
text-decoration: none;
}

a:hover,
a:focus {
color: #5c6da3;
text-decoration: underline;
}

a:active {
color: #000;
}

li a.active {
color:#000;
}


#header a:link {
color: #343434;
text-decoration: none;
}

#header a:visited {
color: #343434;
text-decoration: none;
}

#header a:hover {
color: #343434
}

#header a:active {
color: #343434
}

#header li  a.active,  {
color: #343434
}

#header #secondary-menu li a:link {
color: #fff;
text-decoration: none;
}

#header #secondary-menu li a:visited {
color: #fff;
text-decoration: none;
}

#header #secondary-menu li a:hover {
color: #fff;
}

#header #secondary-menu li a:active {
color: #fff;
}

#header #secondary-menu li  a.active,  {
color: #fff;
}

#header #navigation li.active a {
background: #333;
color: #fff;
}

#bottom a:link {
color: #333;
text-decoration: none;
}

#bottom a:visited {
color: #333;
text-decoration: none;
}

#bottom a:hover,
#bottom a:focus {
color: #333;
text-decoration: underline;
}

#bottom a:active {
color: #333
}

#bottom li  a.active,  {
color: #333
}


#nav ul.menu li.active-trail, 
#superfish ul.menu li.active-trail, 
#nav ul.menu li:hover,
#superfish ul.menu li:hover {
background-color: #333;
color: #fff !important;
opacity: 1;
}

#nav ul.menu li:hover a,
#superfish ul.menu li:hover a {
color: #fff;
}

#superfish .menu li li {
    background-color: #a4a4a4;
}

/* hover and active-trail color */ 
#header #navigation li a.active,
#header #navigation li a:visited .active,
#header #navigation li a:hover, 
#header #navigation li li a:hover, 
#header #navigation li li li a:hover {
background: #333 !important;
color: #fff  !important;
}



/* superfish border seperator */ 

#nav li, #superfish li {
border-right: 0px solid #ccc;
}

#superfish .menu li li.first,
#superfish .menu li li li.first {
border-top:1px solid #ccc;
}

#superfish .menu li li,
#superfish .menu li li li {
border-bottom:1px solid #ccc; 
border-left:1px solid #ccc;
}


#footer a:link {
color: #000;
}

#footer a:visited {
color: #000;
}

#footer a:hover,
#footer a:focus {
color: #000;
}

#footer a:active {
color: #000;
}

#footer li  a.active,  {
color: #000;
}

/*
 * Tables
 *
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  border-collapse: collapse;
  width: 100%; /* Prevent cramped-looking tables */
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
  padding: 0.5em;
  border-bottom: none;
}

tbody td, thead th {

}

tbody {
  border-top: none;
}

/*
 * Abbreviations
 */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

/*
 * Images
 */
img {
  border: 0;
}

/*
 * Horizontal rules
 */
hr {
  height: 1px;
  border: 1px solid #666;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}


#system-themes-form table {
    font-size: 75%;
}

fieldset {
  margin: 1em 0;
  padding: 0.4em;
  border: 1px solid #DDDDDD;
}


/* custom */ 

.float-right-front {
float: right;
margin-top: -25px;
}

.float-right {
float: right
}

.float-left {
float: left
}
