/* $Id: ie.css,v 1.2.2.1 2010/01/20 20:11:52 johnalbin Exp $ */
/**
 * @file
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Any CSS in this file will apply to all versions of IE. You can target
 * specific versions of IE by using conditional comments. See your sub-theme's
 * .info file for an easy way to use them.
 *
 * While building your theme, you should be aware that IE limits Drupal to 31
 * stylesheets total. The work-around for the bug is to enable CSS aggregation
 * under: admin / settings / performance.
 */
/*
 * Tabs
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000321}}
ul.primary li a, ul.secondary li a {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000323}}
ul.primary li a .tab, ul.secondary li a .tab {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000326}}
#navbar-wrapper ul li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/*
 * Drupal nodes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000335}}
.node-unpublished .node-inner > * {
  position: relative;
  /* Otherwise these elements will appear below the "Unpublished" text. */
}

/*
 * Drupal admin tables
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000345}}
tr.even th, tr.even td {
  border-bottom: 1px solid #ccc;
  /* IE doesn't display borders on table rows */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000349}}
tr.odd th, tr.odd td {
  border-bottom: 1px solid #ccc;
  /* IE doesn't display borders on table rows */
}

/*
 * Markup free clearing
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000357}}
.clearfix {
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000361}}
#superfish .menu ul {
  width: 13em;
  min-width: 13em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000364}}
#superfish li {
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000367}}
#search-form .form-submit {
  background-image: url(../images/search-darkgrey.png);
  background-position: 0 center;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000371}}
#search-form .form-submit:hover, #search-form .form-submit:focus {
  background-image: url(../images/search-white.png);
  background-position: 0 center;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000375}}
#search-form .form-submit:active {
  background-image: url(../images/search-white.png);
  background-position: 0 center;
  padding-left: 20px;
  background-image: url(../images/search-white.png);
  background-position: 0 center;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie\.scss}line{font-family:\0000382}}
#search-form .form-submit.active {
  background-image: url(../images/search-white.png);
  background-position: 0 center;
  padding-left: 20px;
}
