/* $Id: ie6.css,v 1.6 2009/11/04 20:16:50 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer 5 and 6 for Windows.
 *
 * Any CSS in this file will override the rules specified in the ie.css file.
 */


/*
 * Layout CSS
 */

body {
  text-align: center; /* 1st part of IE5/IE6quirks centering hack */
}

#page {
  text-align: left; /* LTR */ /* 2nd part of IE5/IE6quirks centering hack */
}

#main-wrapper, 
#footer-wrapper { 
  zoom: 1; /* Otherwise with a liquid layout, sidebars disappear when resizing the windows in IE6 */
}

#content,
.region-sidebar-first,
.region-sidebar-second /* Floating divs */ {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

#navigation {
  overflow: visible;
}

#navigation .section {
  overflow: visible;
}


/*
 * Tabs - IE 5 and 6 don't support PNGs with alpha transparency.
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}


/*
 * Messages - IE 5 and 6 don't support PNGs with alpha transparency.
 */

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  background-image: url(../images/messages-status-ie6.png);
}

div.warning /* Medium priority messages */ {
  background-image: url(../images/messages-warning-ie6.png);
}

div.error /* High priority messages. See also the .error declaration below. */ {
  background-image: url(../images/messages-error-ie6.png);
}

/* Topbar region
-------------------------------------------------------------- */

#topbar-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#topbar-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#topbar-wrapper .block {
padding-left:0px;
padding-right:0px;
}

#topbar {
width: 945px;
}



/* Preface region
-------------------------------------------------------------- */


#preface-wrapper {
padding-top:5px;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in4 .column {
width: 21.7%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper .block {
padding-left: 30px;
padding-right: 30px;
}



/* Content Top region
-------------------------------------------------------------- */

#content-top-wrapper {
padding-top:5px;
}

#content-top-wrapper .column {
float: left;
}

#content-top-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-top-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-top-wrapper .block {
padding-left:0;
padding-right:0;
}


/* Content Bottom region
-------------------------------------------------------------- */

#content-bottom-wrapper {
padding-top:5px;
}

#content-bottom-wrapper .column {
float: left;
}

#content-bottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-bottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-bottom-wrapper .block {
padding-left:0;
padding-right:0;
}


/* Bottom region
-------------------------------------------------------------- */

#bottom-wrapper {
padding-top:5px;
}

#bottom-wrapper .column {
float: left;
}

#bottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottom-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottom-wrapper.in4 .column {
width: 21.7%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottom-wrapper .block {
padding-left:0;
padding-right:0;
}

/* Main Bottom region
-------------------------------------------------------------- */

#mainbottom-wrapper {
padding-top:5px;
}

#mainbottom-wrapper .column {
float: left;
}

#mainbottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in4 .column {
width: 21.7%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper .block {
padding-left: 30px;
padding-right: 30px;
}


/* Footer region
-------------------------------------------------------------- */

#footer-content,
.column.R .footersidebar /* Floating divs */ {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

/* Footer Preface region
-------------------------------------------------------------- */


#footer-preface-wrapper {
padding-top:5px;
}

#footer-preface-wrapper .column {
float: left;
}

#footer-preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper .block {
padding-left:0;
padding-right:0;
}

/* Footer Content Bottom region
-------------------------------------------------------------- */

#footer-content-bottom-wrapper {
padding-top:5px;
}

#footer-content-bottom-wrapper .column {
float: left;
}

#footer-content-bottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-content-bottom-wrapper.in2 .column.P {
width: 70.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-content-bottom-wrapper.in2 .column.Q {
width: 18.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-content-bottom-wrapper .block {
padding-left:0;
padding-right:0;
}



/*
 * REFERENCES
 *

1. http://www.positioniseverything.net/explorer/doubled-margin.html
2. http://browservulsel.blogspot.com/2005/04/ie-overflow-auto-scrollbar-overlap.html
3. http://www.howtocreate.co.uk/wrongWithIE/?chapter=overflow%3Avisible%3B
4. http://www.ryanbrill.com/archives/multiple-classes-in-ie

 *
 */


#superfish .menu {
float:none;
}


#navigation .section {

}

