/* $Id: ie6.css,v 1.6 2009/11/04 20:16:50 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer 5 and 6 for Windows.
 *
 * Any CSS in this file will override the rules specified in the ie.css file.
 */


/*
 * Layout CSS
 */
 
body {
  text-align: center; /* 1st part of IE5/IE6quirks centering hack */
  width:expression(document.documentElement.clientWidth < 1011 ? "1011px" : "auto");
}

#page {
  text-align: left; /* LTR */ /* 2nd part of IE5/IE6quirks centering hack */
}

#main-wrapper, 
#footer-wrapper { 
  zoom: 1; /* Otherwise with a liquid layout, sidebars disappear when resizing the windows in IE6 */
}

#content,
.region-sidebar-first,
.region-sidebar-second /* Floating divs */ {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: hidden; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

#navigation {
  overflow: visible;
}

#navigation .section {
  overflow: visible;
}


/*
 * Tabs
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  display: inline-block; /* Otherwise the blocks mistakenly get 100% width in IE6 */
}


/*
 * Messages - IE 5 and 6 don't support PNGs with alpha transparency.
 */

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  background-image: url(../images/messages-status-ie6.png);
}

div.warning /* Medium priority messages */ {
  background-image: url(../images/messages-warning-ie6.png);
}

div.error /* High priority messages. See also the .error declaration below. */ {
  background-image: url(../images/messages-error-ie6.png);
}

/* Topbar region
-------------------------------------------------------------- */

#topbar-wrapper.tb1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 0;
padding-bottom: 0;
}

#topbar-wrapper.tb2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 0;
padding-bottom: 0;
}

#topbar-wrapper .block {
padding-left:0px;
padding-right:0px;
}

/* Header region
-------------------------------------------------------------- */

#headercontent-wrapper.hf1 .column.HeaderLeft,
#headercontent-wrapper.hf2 .column.HeaderLeft,
#headercontent-wrapper.hf3 .column.HeaderLeft,
#headercontent-wrapper.hf4 .column.HeaderLeft{
width: 65.65%;
margin-right: 1%;
margin-left: 1%;
}

#headercontent-wrapper.hf1.hs1 .column.HeaderRight,
#headercontent-wrapper.hf2.hs1 .column.HeaderRight,
#headercontent-wrapper.hf3.hs1 .column.HeaderRight,
#headercontent-wrapper.hf4.hs1 .column.HeaderRight {
width: 25.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 0;
padding-bottom: 0;
}

#headercontent-wrapper.hf1.hs0 .column.HeaderLeft,
#headercontent-wrapper.hf2.hs0 .column.HeaderLeft,
#headercontent-wrapper.hf3.hs0 .column.HeaderLeft,
#headercontent-wrapper.hf4.hs0 .column.HeaderLeft {
width: 98%;
margin-right: 1%;
margin-left: 1%;
}


#headercontent-wrapper .block {
padding-left:0px;
padding-right:0px;
}




/* Navbar region
-------------------------------------------------------------- */

#navbar-wrapper.nbl1.nbr1 .NavbarLeft,
#navbar-wrapper.nbl2.nbr1 .NavbarLeft,
#navbar-wrapper.nbl3.nbr1 .NavbarLeft,
#navbar-wrapper.nbl4.nbr1 .NavbarLeft,
#navbar-wrapper.nbl1.nbr2 .NavbarLeft,
#navbar-wrapper.nbl2.nbr2 .NavbarLeft,
#navbar-wrapper.nbl3.nbr2 .NavbarLeft,
#navbar-wrapper.nbl4.nbr2 .NavbarLeft{
width: 70%;
margin-right: 1%;
margin-left: 1%;
}

#navbar-wrapper.nbl1.nbr1 .NavbarRight,
#navbar-wrapper.nbl2.nbr1 .NavbarRight,
#navbar-wrapper.nbl3.nbr1 .NavbarRight,
#navbar-wrapper.nbl4.nbr1 .NavbarRight,
#navbar-wrapper.nbl1.nbr2 .NavbarRight,
#navbar-wrapper.nbl2.nbr2 .NavbarRight,
#navbar-wrapper.nbl3.nbr2 .NavbarRight,
#navbar-wrapper.nbl4.nbr2 .NavbarRight {
width: 22.65%;
margin-right: 1%;
margin-left: 0;
padding-top: 0;
padding-bottom: 0;
}

#navbar-wrapper.nbl1.nbr0 .column,
#navbar-wrapper.nbl2.nbr0 .column,
#navbar-wrapper.nbl3.nbr0 .column,
#navbar-wrapper.nbl4.nbr0 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 0;
padding-bottom: 0;
}


#navbar-wrapper .block {
padding-left:0px;
padding-right:0px;
}



/* Preface region
-------------------------------------------------------------- */


#preface-wrapper {
padding-top:5px;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper.in4 .column {
width: 21%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#preface-wrapper .block {
padding-left: 0px;
padding-right: 0px;
}


/* Preface region
-------------------------------------------------------------- */


#feature-wrapper {
padding-top:5px;
}

#feature-wrapper .column {
float: left;
}

#feature-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#feature-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#feature-wrapper .block {
padding-left: 0px;
padding-right: 0px;
}


/* Content Top region
-------------------------------------------------------------- */

#content-top-wrapper {
padding-top:5px;
}

#content-top-wrapper .column {
float: left;
}

#content-top-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-top-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-top-wrapper .block {
padding-left:0;
padding-right:0;
}


/* Content Bottom region
-------------------------------------------------------------- */

#content-bottom-wrapper {
padding-top:5px;
}

#content-bottom-wrapper .column {
float: left;
}

#content-bottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-bottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#content-bottom-wrapper .block {
padding-left:0;
padding-right:0;
}


/* Bottom region
-------------------------------------------------------------- */

#bottomcontent-wrapper {
padding-top:5px;
}

#bottomcontent-wrapper .column {
float: left;
}

#bottomcontent-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper.in4 .column {
width: 21.5%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper.in5 .column {
width: 17.5%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper.in6 .column {
width: 13.5%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#bottomcontent-wrapper .block {
padding-left:0;
padding-right:0;
}

/* Main Bottom region
-------------------------------------------------------------- */

#mainbottom-wrapper {
padding-top:5px;
}

#mainbottom-wrapper .column {
float: left;
}

#mainbottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in3 .column {
width: 29.7%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper.in4 .column {
width: 21%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#mainbottom-wrapper .block {
padding-left: 0px;
padding-right: 0px;
}


/* Footer region
-------------------------------------------------------------- */

#footer-content,
.column.FooterSidebar .footersidebar /* Floating divs */ {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: visible; /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

/* Footer Preface region
-------------------------------------------------------------- */


#footer-preface-wrapper {
padding-top:5px;
}

#footer-preface-wrapper .column {
float: left;
}

#footer-preface-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper.in2 .column {
width: 45.65%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper.in3 .column {
width: 29%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper.in4 .column {
width: 21.5%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-preface-wrapper .block {
padding-left:0;
padding-right:0;
}

/* Footer Content Bottom region
-------------------------------------------------------------- */

#footer-content-bottom-wrapper {
padding-top:5px;
}

#footer-content-bottom-wrapper .column {
float: left;
}

#footer-content-bottom-wrapper.in1 .column {
width: 98%;
margin-right: 1%;
margin-left: 1%;
padding-top: 5px;
padding-bottom: 5px;
}

#footer-content-bottom-wrapper .block {
padding-left:0;
padding-right:0;
}



/*
 * REFERENCES
 *

1. http://www.positioniseverything.net/explorer/doubled-margin.html
2. http://browservulsel.blogspot.com/2005/04/ie-overflow-auto-scrollbar-overlap.html
3. http://www.howtocreate.co.uk/wrongWithIE/?chapter=overflow%3Avisible%3B
4. http://www.ryanbrill.com/archives/multiple-classes-in-ie

 *
 */


#superfish .menu {
float:none;
}


#navigation .section {

}

