/* $Id: ie6.css,v 1.6 2009/11/04 20:16:50 johnalbin Exp $ */
/**
 * @file
 * CSS targeted specifically for Internet Explorer 5 and 6 for Windows.
 *
 * Any CSS in this file will override the rules specified in the ie.css file.
 */
/*
 * Layout CSS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000314}}
body {
  text-align: center;
  /* 1st part of IE5/IE6quirks centering hack */
  width: expression(document.documentElement.clientWidth < 1011 ? "1011px" : "auto");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000319}}
#page {
  text-align: left;
  /* LTR */
  /* 2nd part of IE5/IE6quirks centering hack */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000324}}
#main-wrapper, #footer-wrapper {
  zoom: 1;
  /* Otherwise with a liquid layout, sidebars disappear when resizing the windows in IE6 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000328}}
#content, .region-sidebar-first, .region-sidebar-second {
  display: inline;
  /* display inline or double your floated margin! [1] */
  overflow: hidden;
  /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000335}}
#navigation {
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000337}}
#navigation .section {
  overflow: visible;
}

/*
 * Tabs
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000345}}
ul.primary li a, ul.secondary li a {
  display: inline-block;
  /* Otherwise the blocks mistakenly get 100% width in IE6 */
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000349}}
ul.primary li a .tab, ul.secondary li a .tab {
  display: inline-block;
  /* Otherwise the blocks mistakenly get 100% width in IE6 */
  cursor: pointer;
}

/*
 * Messages - IE 5 and 6 don't support PNGs with alpha transparency.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000359}}
div.messages, div.status, div.warning, div.error {
  background-image: url(../images/messages-status-ie6.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000361}}
div.warning {
  background-image: url(../images/messages-warning-ie6.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000363}}
div.error {
  background-image: url(../images/messages-error-ie6.png);
}

/* Topbar region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000370}}
#topbar-wrapper.tb1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000376}}
#topbar-wrapper.tb2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000382}}
#topbar-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Header region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000390}}
#headercontent-wrapper.hf1 .HeaderLeft, #headercontent-wrapper.hf2 .HeaderLeft, #headercontent-wrapper.hf3 .HeaderLeft, #headercontent-wrapper.hf4 .HeaderLeft {
  width: 65.65%;
  margin-right: 1%;
  margin-left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000394}}
#headercontent-wrapper.hf1.hs1 .HeaderRight, #headercontent-wrapper.hf2.hs1 .HeaderRight, #headercontent-wrapper.hf3.hs1 .HeaderRight, #headercontent-wrapper.hf4.hs1 .HeaderRight {
  width: 25.65%;
  margin-right: 1%;
  margin-left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\0000398}}
#headercontent-wrapper.hf1.hs0 .HeaderLeft, #headercontent-wrapper.hf2.hs0 .HeaderLeft, #headercontent-wrapper.hf3.hs0 .HeaderLeft, #headercontent-wrapper.hf4.hs0 .HeaderLeft {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003102}}
#headercontent-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Navbar region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003110}}
#navbar-wrapper.nbl1.nbr1 .NavbarLeft, #navbar-wrapper.nbl2.nbr1 .NavbarLeft, #navbar-wrapper.nbl3.nbr1 .NavbarLeft, #navbar-wrapper.nbl4.nbr1 .NavbarLeft, #navbar-wrapper.nbl1.nbr2 .NavbarLeft, #navbar-wrapper.nbl2.nbr2 .NavbarLeft, #navbar-wrapper.nbl3.nbr2 .NavbarLeft, #navbar-wrapper.nbl4.nbr2 .NavbarLeft {
  width: 70%;
  margin-right: 1%;
  margin-left: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003114}}
#navbar-wrapper.nbl1.nbr1 .NavbarRight, #navbar-wrapper.nbl2.nbr1 .NavbarRight, #navbar-wrapper.nbl3.nbr1 .NavbarRight, #navbar-wrapper.nbl4.nbr1 .NavbarRight, #navbar-wrapper.nbl1.nbr2 .NavbarRight, #navbar-wrapper.nbl2.nbr2 .NavbarRight, #navbar-wrapper.nbl3.nbr2 .NavbarRight, #navbar-wrapper.nbl4.nbr2 .NavbarRight {
  width: 22.65%;
  margin-right: 1%;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003122}}
#navbar-wrapper.nbl1.nbr0 .column, #navbar-wrapper.nbl2.nbr0 .column, #navbar-wrapper.nbl3.nbr0 .column, #navbar-wrapper.nbl4.nbr0 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003130}}
#navbar-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Preface region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003137}}
#preface-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003139}}
#preface-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003141}}
#preface-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003147}}
#preface-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003153}}
#preface-wrapper.in3 .column {
  width: 29%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003159}}
#preface-wrapper.in4 .column {
  width: 21%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003165}}
#preface-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Preface region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003172}}
#feature-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003174}}
#feature-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003176}}
#feature-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003182}}
#feature-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003188}}
#feature-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Content Top region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003195}}
#content-top-wrapper, #content-bottom-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003197}}
#content-top-wrapper .column, #content-bottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003199}}
#content-top-wrapper.in1 .column, #content-bottom-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003205}}
#content-top-wrapper.in2 .column, #content-bottom-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003211}}
#content-top-wrapper .block, #content-bottom-wrapper .block {
  padding-left: 0;
  padding-right: 0;
}

/* Content Bottom region
-------------------------------------------------------------- */
/* Bottom region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003221}}
#bottomcontent-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003223}}
#bottomcontent-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003225}}
#bottomcontent-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003231}}
#bottomcontent-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003237}}
#bottomcontent-wrapper.in3 .column {
  width: 29%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003243}}
#bottomcontent-wrapper.in4 .column {
  width: 21.5%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003249}}
#bottomcontent-wrapper.in5 .column {
  width: 17.5%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003255}}
#bottomcontent-wrapper.in6 .column {
  width: 13.5%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003261}}
#bottomcontent-wrapper .block {
  padding-left: 0;
  padding-right: 0;
}

/* Main Bottom region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003268}}
#mainbottom-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003270}}
#mainbottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003272}}
#mainbottom-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003278}}
#mainbottom-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003284}}
#mainbottom-wrapper.in3 .column {
  width: 29.7%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003290}}
#mainbottom-wrapper.in4 .column {
  width: 21%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003296}}
#mainbottom-wrapper .block {
  padding-left: 0px;
  padding-right: 0px;
}

/* Footer region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003303}}
#footer-content, .column.FooterSidebar .footersidebar {
  display: inline;
  /* display inline or double your floated margin! [1] */
  overflow: visible;
  /* in ie6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

/* Footer Preface region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003313}}
#footer-preface-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003315}}
#footer-preface-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003317}}
#footer-preface-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003323}}
#footer-preface-wrapper.in2 .column {
  width: 45.65%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003329}}
#footer-preface-wrapper.in3 .column {
  width: 29%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003335}}
#footer-preface-wrapper.in4 .column {
  width: 21.5%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003341}}
#footer-preface-wrapper .block {
  padding-left: 0;
  padding-right: 0;
}

/* Footer Content Bottom region
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003348}}
#footer-content-bottom-wrapper {
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003350}}
#footer-content-bottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003352}}
#footer-content-bottom-wrapper.in1 .column {
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003358}}
#footer-content-bottom-wrapper .block {
  padding-left: 0;
  padding-right: 0;
}

/*
 * REFERENCES
 *

1. http://www.positioniseverything.net/explorer/doubled-margin.html
2. http://browservulsel.blogspot.com/2005/04/ie-overflow-auto-scrollbar-overlap.html
3. http://www.howtocreate.co.uk/wrongWithIE/?chapter=overflow%3Avisible%3B
4. http://www.ryanbrill.com/archives/multiple-classes-in-ie

 *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/ie6\.scss}line{font-family:\00003374}}
#superfish .menu {
  float: none;
}
