#content-fedora table {
    margin-left: auto;
    margin-right: auto;
}

#content-fedora table td img{
    text-align: center;
}

#content-fedora table {
    width: 95%;
}

#content-fedora .fedora_detailed_list table {
    background: #EAEAEA;
    width: 100%;
}

#content-fedora .fedora_detailed_list form {
    padding: 0 0 1.3em 0; 
}

#content-fedora .fedora_detailed_list table td,
#content-fedora .fedora_detailed_list table th {
    padding: 0 1em;
}

#content-fedora .fedora_detailed_list table td,
#content-fedora .fedora_detailed_list table {
    border: 1px solid #bbb;
}

#fedora-repository-purge-object-form input {

}

.fedora_detailed_list h3 {
    margin: 0;
}

.fedora_detailed_list table td {
      vertical-align: bottom;
}