body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Century Gothic, Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

#footer {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

#topbar-wrapper .section{ 
background: url(../images/islandvoices/topbarbg.png) repeat-x 0 0 #7396AC;
}

#navigation .section {
background: url(../images/islandvoices/navbg.png) repeat-x 0 0 #456173;
}

.front #feature {
background: url(../images/islandvoices/ivfeatured.jpg) no-repeat 0 -1px #e6e6e6;
height: 217px;
}

#headercontent-wrapper-bg {
background: url(../images/islandvoices/headerbg.jpg) repeat-x top center #e1e1e1; 
}


#headercontent-wrapper .section {
height: 152px;
background: url(../images/islandvoices/headercontentbg.jpg) repeat-x top center #e1e1e1; 
}

#bottom {
background: url(../images/islandvoices/footerbg.png) repeat-x bottom left #1c536f; 
}

#footer {
background: url(../images/islandvoices/footermic.png) no-repeat bottom right transparent; 
}

#preface-wrapper .block h2.title {
background: url(../images/islandvoices/h2bullet.png) no-repeat 0 0.86em;
padding-left: 1.2em;
color: #336686;
}

#mainbottom-wrapper .block h2.title, #content-top-wrapper h2, .region-content-top h2.title, .region-content-bottom .block h2.title, #content-bottom-wrapper .block h2.title {
background: url(../images/islandvoices/h2bullet-small.png) no-repeat 0 0.9199em;
padding-left: 1em;
color: #255720;
}

#islandora-solr-simple-search-form input.form-submit, #search-form input.form-submit {
background: url(../images/mag_glass/greenblue-mag_glass.png) no-repeat left top; /* color options are greenblue brown */
}


h1.title, h2.title, h3.title {
font-weight: normal;
}