/* $Id: jcarousel-default.css,v 1.1.2.1 2010/11/26 22:04:31 quicksketch Exp $ */
/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */
/* line 12, ../sass/jcarousel.scss */
.jcarousel-container-horizontal {
  width: 440px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}

/* line 18, ../sass/jcarousel.scss */
.jcarouselwide .jcarousel-container-horizontal {
  width: 880px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}

/* line 24, ../sass/jcarousel.scss */
.jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

/* line 30, ../sass/jcarousel.scss */
.jcarousel-clip-horizontal {
  width: 440px;
}

/* line 33, ../sass/jcarousel.scss */
.jcarouselwide .jcarousel-clip-horizontal {
  width: 880px;
}

/* line 36, ../sass/jcarousel.scss */
.jcarousel-clip-vertical {
  height: 440px;
}

/* line 39, ../sass/jcarousel.scss */
.jcarousel-item {
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
}

/* line 48, ../sass/jcarousel.scss */
.jcarousel-item-horizontal {
  margin: 0 4px;
}

/* line 51, ../sass/jcarousel.scss */
.jcarousel-item-vertical {
  margin: 4px 0;
}

/* line 54, ../sass/jcarousel.scss */
.jcarousel-item-placeholder {
  background: white url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
/* line 62, ../sass/jcarousel.scss */
.jcarousel-next, .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/arrows.png);
}

/**
 *  Horizontal Buttons
 */
/* line 72, ../sass/jcarousel.scss */
.jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}
/* line 77, ../sass/jcarousel.scss */
.jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
/* line 79, ../sass/jcarousel.scss */
.jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

/* line 82, ../sass/jcarousel.scss */
.jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
/* line 85, ../sass/jcarousel.scss */
.jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

/* line 89, ../sass/jcarousel.scss */
.jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}
/* line 94, ../sass/jcarousel.scss */
.jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
/* line 96, ../sass/jcarousel.scss */
.jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}

/* line 99, ../sass/jcarousel.scss */
.jcarousel-next-disabled-horizontal {
  cursor: default;
  background-position: -96px -32px;
}
/* line 102, ../sass/jcarousel.scss */
.jcarousel-next-disabled-horizontal:hover, .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px -32px;
}

/**
 *  Vertical Buttons
 */
/* line 110, ../sass/jcarousel.scss */
.jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
/* line 115, ../sass/jcarousel.scss */
.jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
/* line 117, ../sass/jcarousel.scss */
.jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}

/* line 120, ../sass/jcarousel.scss */
.jcarousel-prev-disabled-vertical {
  cursor: default;
  background-position: -96px -64px;
}
/* line 123, ../sass/jcarousel.scss */
.jcarousel-prev-disabled-vertical:hover, .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

/* line 127, ../sass/jcarousel.scss */
.jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
/* line 132, ../sass/jcarousel.scss */
.jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
/* line 134, ../sass/jcarousel.scss */
.jcarousel-next-vertical:active {
  background-position: -64px -96px;
}

/* line 137, ../sass/jcarousel.scss */
.jcarousel-next-disabled-vertical {
  cursor: default;
  background-position: -96px -96px;
}
/* line 140, ../sass/jcarousel.scss */
.jcarousel-next-disabled-vertical:hover, .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}
