/* $Id: layout-fixed-rtl.css,v 1.6 2009/11/04 20:16:50 johnalbin Exp $ */
/**
 * @file
 * RTL companion for the layout-fixed.css file.
 */
/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000312}}
#content, .no-sidebars #content {
  float: right;
  margin-left: -960px;
  margin-right: 0;
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000318}}
.sidebar-first #content {
  margin-left: -960px;
  /* The width of .region-sidebar-first. */
  margin-right: 200px;
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000324}}
.sidebar-second #content {
  margin-left: -760px;
  margin-right: 0;
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000329}}
.two-sidebars #content {
  margin-left: -760px;
  /* The width of .region-sidebar-first */
  margin-right: 200px;
  /* Negative value of #content's width + left margin. */
}

/*
 * Navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000339}}
#navigation {
  float: right;
  margin-left: -100%;
  margin-right: 0;
  /* Negative value of #navigation's width + left margin. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000344}}
#navigation ul {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000346}}
#navigation li {
  float: right;
  padding: 0 0 0 10px;
}

/*
 * First sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000354}}
.region-sidebar-first {
  float: right;
  margin-left: -200px;
  margin-right: 0;
  /* Negative value of .region-sidebar-first's width + left margin. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000359}}
.region-sidebar-first .section {
  margin: 0 0 0 20px;
}

/*
 * Second sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000366}}
.region-sidebar-second {
  float: right;
  margin-left: -960px;
  /* Width of content + sidebar-first. */
  margin-right: 760px;
  /* Negative value of .region-sidebar-second's width + left margin. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed-rtl\.scss}line{font-family:\0000372}}
.region-sidebar-second .section {
  margin: 0 20px 0 0;
}
