/* $Id: layout-fixed.css,v 1.17 2009/11/05 12:09:53 johnalbin Exp $ */
/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000324}}
#page-wrapper, .region-page-closure {
  min-width: 980px;
  /* Don't allow the browser to make the site unreadable. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000328}}
#page-wrapper, .region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000337}}
.region-topbar-top, #topbar, #headercontent-wrapper div.section, #feature div.section, #breadcrumb-wrapper, #preface-wrapper div.section, #navigation div.section, #featured div.section, #messages, #sitecontent, #main, #mainbottom-wrapper div.section, #bottom, #bottomcontent-wrapper, #footer-wrapper, #closure {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000346}}
#header {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000352}}
.region-header {
  clear: both;
  /* Clear the logo */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000357}}
#headercontent-wrapper .column.HeaderRight #secondary-menu {
  line-height: 2em;
  margin-bottom: 0;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000361}}
#headercontent-wrapper .column.HeaderRight .block-menu {
  line-height: 2em;
  margin-bottom: 0;
  margin-right: 0px;
}

/*
 * Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000370}}
#main-wrapper {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000373}}
#sitecontent {
  min-height: 500px;
  height: auto !important;
  height: 500px;
  padding: 0;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000383}}
#content, .no-sidebars #content {
  float: left;
  /* LTR */
  width: 960px;
  margin-left: 0;
  /* LTR */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\0000395}}
.sidebar-first #content {
  width: 720px;
  margin-left: 240px;
  /* LTR */
  /* The width of .region-sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003104}}
.sidebar-second #content {
  width: 720px;
  margin-left: 0;
  /* LTR */
  margin-right: -720px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003112}}
.two-sidebars #content {
  width: 480px;
  margin-left: 240px;
  /* LTR */
  /* The width of .region-sidebar-first */
  margin-right: -720px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003121}}
#content .section {
  margin: 10px;
  padding: 0;
}

/*
 * Navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003129}}
#navigation {
  /* float: left; /* LTR */
  /* width: 100%; */
  /* margin-left: 0; /* LTR */
  /* margin-right: -100%; /* LTR */
  /* Negative value of #navigation's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  /* height: 3.8em; The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003142}}
.with-navigation.with-preface #content, .with-navigation.with-preface .region-sidebar-first, .with-navigation.with-preface .region-sidebar-second {
  margin-top: 0em;
  /* Set this to the same value as the navigation height above. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003148}}
#navbar-wrapper {
  background-color: transparent;
  display: inline-block;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003152}}
#navbar-wrapper .NavbarRight .block {
  padding-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003156}}
#navigation ul {
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003161}}
#navigation li {
  float: left;
  /* LTR */
  padding: 0 10px 0 0;
  /* LTR */
}

/* Navigation Bar + Navbar Right
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003172}}
#navbar-wrapper .column.NavbarLeft {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003174}}
#navbar-wrapper .column.NavbarRight {
  text-align: right;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003177}}
#navbar-wrapper .column.NavbarRight .block {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003179}}
#navbar-wrapper.nbl1.nbr1 .NavbarLeft, #navbar-wrapper.nbl2.nbr1 .NavbarLeft, #navbar-wrapper.nbl3.nbr1 .NavbarLeft, #navbar-wrapper.nbl4.nbr1 .NavbarLeft, #navbar-wrapper.nbl1.nbr2 .NavbarLeft, #navbar-wrapper.nbl2.nbr2 .NavbarLeft, #navbar-wrapper.nbl3.nbr2 .NavbarLeft, #navbar-wrapper.nbl4.nbr2 .NavbarLeft {
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003181}}
#navbar-wrapper.nbl1.nbr1 .NavbarRight, #navbar-wrapper.nbl2.nbr1 .NavbarRight, #navbar-wrapper.nbl3.nbr1 .NavbarRight, #navbar-wrapper.nbl4.nbr1 .NavbarRight, #navbar-wrapper.nbl1.nbr2 .NavbarRight, #navbar-wrapper.nbl2.nbr2 .NavbarRight, #navbar-wrapper.nbl3.nbr2 .NavbarRight, #navbar-wrapper.nbl4.nbr2 .NavbarRight {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003183}}
#navbar-wrapper.nbl1.nbr0 .column, #navbar-wrapper.nbl2.nbr0 .column, #navbar-wrapper.nbl3.nbr0 .column, #navbar-wrapper.nbl4.nbr0 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003185}}
#navbar-wrapper .block {
  padding-left: 0px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003188}}
#navbar-wrapper #nav, #navbar-wrapper #search {
  padding-left: 0;
  padding-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003191}}
#navbar-wrapper #search-box {
  padding: 0 10px 0 0;
  margin: 0;
}

/*
 * First sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003199}}
.region-sidebar-first {
  float: left;
  /* LTR */
  width: 240px;
  margin-left: 0;
  /* LTR */
  margin-right: -240px;
  /* LTR */
  /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003210}}
.region-sidebar-first .section {
  margin: 10px;
  padding: 0;
}

/*
 * Second sidebar
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003218}}
.region-sidebar-second {
  float: left;
  /* LTR */
  width: 240px;
  margin-left: 720px;
  /* LTR */
  /* Width of content + sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003230}}
.region-sidebar-second .section {
  margin: 10px;
  /* LTR */
  padding: 0;
}

/*
 * Footer
 */
/*
 * Closure
 */
/*
 * Prevent overflowing content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003249}}
.region-sidebar-first, .region-sidebar-second, #footer, .region-page-closure {
  overflow: hidden;
  word-wrap: break-word;
  /* A very nice CSS3 property */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003254}}
#content {
  overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003257}}
#header, #navigation {
  overflow: visible;
  /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
/* Topbar first + Topbar last regions */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003277}}
#topbar-wrapper {
  font-size: 90%;
  line-height: 2em;
  border-top: 4px solid #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003281}}
#topbar-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003283}}
#topbar-wrapper.tb1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003285}}
#topbar-wrapper.tb2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003288}}
#topbar-wrapper .column.TopbarRight {
  text-align: right;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003291}}
#topbar-wrapper .column.TopbarRight .menu {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003293}}
#topbar-wrapper .column.TopbarLeft .block {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003298}}
#topbar .block {
  padding: 0px 10px 0 10px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003301}}
#topbar .form-item {
  display: inline;
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003304}}
#topbar .form-item label {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003306}}
#topbar #user-login-form .item-list {
  display: none;
}

/*
 * Topbar Navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003314}}
#topbar-wrapper h2.title {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003316}}
#topbar-wrapper ul {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003319}}
#topbar-wrapper li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003326}}
#topbar .block {
  padding-left: 15px;
  padding-right: 15px;
}

/* Feature */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003332}}
#feature-wrapper {
  padding-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003334}}
#feature-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003336}}
#feature-wrapper.in1 .column {
  width: 100%;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003339}}
#feature-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003341}}
#feature-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}

/* Header Left + Header Right
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003348}}
#headercontent-inner {
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003351}}
#headercontent-wrapper {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003354}}
#headercontent-wrapper .column.HeaderLeft {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003356}}
#headercontent-wrapper .column.HeaderRight {
  text-align: right;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003359}}
#headercontent-wrapper.hf1 .column.HeaderLeft, #headercontent-wrapper.hf2 .column.HeaderLeft, #headercontent-wrapper.hf3 .column.HeaderLeft, #headercontent-wrapper.hf4 .column.HeaderLeft {
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003361}}
#headercontent-wrapper.hf1.hs1 .column.HeaderRight, #headercontent-wrapper.hf2.hs1 .column.HeaderRight, #headercontent-wrapper.hf3.hs1 .column.HeaderRight, #headercontent-wrapper.hf4.hs1 .column.HeaderRight {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003363}}
#headercontent-wrapper.hf1.hs0 .column, #headercontent-wrapper.hf2.hs0 .column, #headercontent-wrapper.hf3.hs0 .column, #headercontent-wrapper.hf4.hs0 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003365}}
#headercontent-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003368}}
#headercontent-wrapper .HeaderLeft {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003371}}
#headercontent-wrapper.hf0.HeaderLeft {
  padding: 0;
}

/* Breadcrumb */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003376}}
.breadcrumb {
  padding-top: 0.2em;
  padding-left: 10px;
  padding-right: 10px;
}

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003384}}
#preface-wrapper {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003386}}
#preface-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003388}}
#preface-wrapper.in1 .column {
  width: 100%;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003391}}
#preface-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003393}}
#preface-wrapper.in3 .column {
  width: 33.3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003395}}
#preface-wrapper.in4 .column {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003397}}
#preface-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Content Top
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003405}}
.no-sidebars #content-top-wrapper, .sidebar-first #content-top-wrapper, .sidebar-second #content-top-wrapper, .two-sidebars #content-top-wrapper {
  width: 100%;
  margin-left: 0;
}

/* Content Top 1 + Content Top 2
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003412}}
#content #content-top-wrapper .section {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003415}}
#content-top-wrapper {
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003417}}
#content-top-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003419}}
#content-top-wrapper.in1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003421}}
#content-top-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003425}}
#content-top-wrapper.in2 .column.ContentTop2 .block {
  padding-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003427}}
#content-top-wrapper.in2 .column.ContentTop1 .block {
  padding-left: 0px;
}

/*
 * Content Bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003434}}
.no-sidebars #content-bottom-wrapper, .sidebar-first #content-bottom-wrapper, .sidebar-second #content-bottom-wrapper, .two-sidebars #content-bottom-wrapper {
  width: 100%;
  margin-left: 0;
}

/* Content Bottom 1 + Content Bottom 2
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003441}}
#content #content-bottom-wrapper .section {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003444}}
#content-bottom-wrapper {
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003446}}
#content-bottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003448}}
#content-bottom-wrapper.in1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003450}}
#content-bottom-wrapper.in2 .column {
  width: 50%;
}

/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003457}}
#mainbottom-wrapper {
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003459}}
#mainbottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003461}}
#mainbottom-wrapper.in1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003463}}
#mainbottom-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003465}}
#mainbottom-wrapper.in3 .column {
  width: 33.3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003467}}
#mainbottom-wrapper.in4 .column {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003469}}
#mainbottom-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}

/* Bottom */
/* Bottom first + Bottom second + Bottom third +  Bottom fourth +  Bottom fifth +  Bottom sixth regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003481}}
#bottomcontent-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003483}}
#bottomcontent-wrapper.in1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003485}}
#bottomcontent-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003487}}
#bottomcontent-wrapper.in3 .column {
  width: 33.3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003489}}
#bottomcontent-wrapper.in4 .column {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003491}}
#bottomcontent-wrapper.in5 .column {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003493}}
#bottomcontent-wrapper.in6 .column {
  width: 16.66%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003495}}
#bottomcontent-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Footer Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003503}}
.with-sidebar-footer #footer-content {
  margin-left: 300px;
  margin-right: -960px;
  padding-left: 0px;
  width: 650px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003509}}
#footer-content {
  margin-top: 0px;
  float: left;
  margin-left: 0;
  margin-right: -960px;
  padding: 0;
  width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003516}}
#footer-content .section {
  margin: 0px 0 0 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003520}}
#footer-wrapper {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003523}}
#footer {
  padding-bottom: 1em;
}

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003529}}
.with-sidebar-footer #footer-preface-wrapper {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003532}}
#footer-preface-wrapper {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003534}}
#footer-preface-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003536}}
#footer-preface-wrapper.in1 .column {
  width: 100%;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003539}}
#footer-preface-wrapper.in2 .column {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003541}}
#footer-preface-wrapper.in3 .column {
  width: 33.3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003543}}
#footer-preface-wrapper.in4 .column {
  width: 24.6%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003545}}
#footer-preface-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003550}}
#footer-content-bottom-wrapper {
  margin: 10px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003551}}
#footer-content-bottom-wrapper.with-footer-preface .block {
  border-top: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003554}}
#footer-content-bottom-wrapper .column {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003556}}
#footer-content-bottom-wrapper.in1 .column {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003558}}
#footer-content-bottom-wrapper .block {
  padding-left: 10px;
  padding-right: 10px;
}

/* Footer Bottom 1 + Footer Bottom 2
-------------------------------------------------------------- */
/*
 * First sidebar footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003569}}
.SidebarFooter {
  background: none repeat-y scroll right top transparent;
  border-right: 0 solid #111111;
  background: none repeat-y scroll right top transparent;
  border-right: 0 solid #2B2B2B;
  float: left;
  height: 80%;
  margin: 15px -650px 15px 0;
  padding: 0 0 0 20px;
  width: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003579}}
.SidebarFooter .footersidebar {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003582}}
.SidebarFooter .footersidebar .block {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003584}}
.SidebarFooter .footersidebar .section {
  margin: 0;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/layout-fixed\.scss}line{font-family:\00003588}}
.footersidebar #secondary-menu {
  margin: 0;
  z-index: 99;
}
