/* $Id: layout-fixed-rtl.css,v 1.6 2009/11/04 20:16:50 johnalbin Exp $ */
/**
 * @file
 * RTL companion for the layout-fixed.css file.
 */
/*
 * Content
 */
/* line 12, ../sass/layout-fixed-rtl.scss */
#content, .no-sidebars #content {
  float: right;
  margin-left: -960px;
  margin-right: 0;
  /* Negative value of #content's width + left margin. */
}

/* line 18, ../sass/layout-fixed-rtl.scss */
.sidebar-first #content {
  margin-left: -960px;
  /* The width of .region-sidebar-first. */
  margin-right: 200px;
  /* Negative value of #content's width + left margin. */
}

/* line 24, ../sass/layout-fixed-rtl.scss */
.sidebar-second #content {
  margin-left: -760px;
  margin-right: 0;
  /* Negative value of #content's width + left margin. */
}

/* line 29, ../sass/layout-fixed-rtl.scss */
.two-sidebars #content {
  margin-left: -760px;
  /* The width of .region-sidebar-first */
  margin-right: 200px;
  /* Negative value of #content's width + left margin. */
}

/*
 * Navigation
 */
/* line 39, ../sass/layout-fixed-rtl.scss */
#navigation {
  float: right;
  margin-left: -100%;
  margin-right: 0;
  /* Negative value of #navigation's width + left margin. */
}
/* line 44, ../sass/layout-fixed-rtl.scss */
#navigation ul {
  text-align: right;
}
/* line 46, ../sass/layout-fixed-rtl.scss */
#navigation li {
  float: right;
  padding: 0 0 0 10px;
}

/*
 * First sidebar
 */
/* line 54, ../sass/layout-fixed-rtl.scss */
.region-sidebar-first {
  float: right;
  margin-left: -200px;
  margin-right: 0;
  /* Negative value of .region-sidebar-first's width + left margin. */
}
/* line 59, ../sass/layout-fixed-rtl.scss */
.region-sidebar-first .section {
  margin: 0 0 0 20px;
}

/*
 * Second sidebar
 */
/* line 66, ../sass/layout-fixed-rtl.scss */
.region-sidebar-second {
  float: right;
  margin-left: -960px;
  /* Width of content + sidebar-first. */
  margin-right: 760px;
  /* Negative value of .region-sidebar-second's width + left margin. */
}
/* line 72, ../sass/layout-fixed-rtl.scss */
.region-sidebar-second .section {
  margin: 0 20px 0 0;
}
