/* $Id: nodes.css,v 1.6 2009/11/02 15:37:29 johnalbin Exp $ */
/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 10, ../sass/nodes.scss */
.node {
  border-bottom: 1px dotted #dededf;
  margin: 0.5em 0 1em;
  padding-bottom: 1em;
}

/* line 17, ../sass/nodes.scss */
.node-unpublished {
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 20, ../sass/nodes.scss */
.node-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  /* A very nice CSS3 property */
}

/* line 33, ../sass/nodes.scss */
.comment-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  /* A very nice CSS3 property */
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
/* line 53, ../sass/nodes.scss */
.marker {
  color: #c00;
}

/* line 58, ../sass/nodes.scss */
.node.node-unpublished .picture {
  position: relative;
  /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* line 62, ../sass/nodes.scss */
.comment.comment-unpublished .picture {
  position: relative;
  /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* line 68, ../sass/nodes.scss */
.node .submitted {
  color: #999999;
}
/* line 71, ../sass/nodes.scss */
.node ul.links {
  margin-top: 1em;
  display: block;
}

/* line 75, ../sass/nodes.scss */
.preview .node {
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
