/* line 2, ../sass/openlayers.scss */
div.olMap {
  z-index: 0;
  padding: 0px!important;
  margin: 0px!important;
  cursor: default;
}
/* line 7, ../sass/openlayers.scss */
div.olMapViewport {
  text-align: left;
}
/* line 9, ../sass/openlayers.scss */
div.olLayerDiv {
  -moz-user-select: none;
}

/* line 12, ../sass/openlayers.scss */
.olLayerGoogleCopyright {
  left: 2px;
  bottom: 2px;
}

/* line 16, ../sass/openlayers.scss */
.olLayerGooglePoweredBy {
  left: 2px;
  bottom: 15px;
}

/* line 20, ../sass/openlayers.scss */
.olControlAttribution {
  font-size: smaller;
  right: 3px;
  bottom: 0.2em;
  position: absolute;
  display: block;
}
/* line 27, ../sass/openlayers.scss */
.olControlAttribution a:link, .olControlAttribution a:hover, .olControlAttribution a:visited {
  color: #000;
}

/* line 30, ../sass/openlayers.scss */
.olControlScale {
  right: 3px;
  bottom: 3em;
  display: block;
  position: absolute;
  font-size: smaller;
}

/* line 37, ../sass/openlayers.scss */
.olControlScaleLine {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 15px;
  font-size: xx-small;
}

/* line 44, ../sass/openlayers.scss */
.olControlScaleLineBottom {
  border: solid 2px black;
  border-bottom: none;
  margin-top: -2px;
  text-align: center;
}

/* line 50, ../sass/openlayers.scss */
.olControlScaleLineTop {
  border: solid 2px black;
  border-top: none;
  text-align: center;
}

/* line 55, ../sass/openlayers.scss */
.olControlPermalink {
  right: 3px;
  bottom: 1.5em;
  display: block;
  position: absolute;
  font-size: smaller;
}

/* line 62, ../sass/openlayers.scss */
div.olControlMousePosition {
  bottom: 0em;
  right: 3px;
  display: block;
  position: absolute;
  font-family: Arial;
  font-size: smaller;
}

/* line 70, ../sass/openlayers.scss */
.olControlOverviewMapContainer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* line 75, ../sass/openlayers.scss */
.olControlOverviewMapElement {
  padding: 10px 18px 10px 10px;
  background-color: #00008B;
  -moz-border-radius: 1em 0 0 0;
}

/* line 80, ../sass/openlayers.scss */
.olControlOverviewMapMinimizeButton, .olControlOverviewMapMaximizeButton {
  right: 0px;
  bottom: 80px;
}

/* line 84, ../sass/openlayers.scss */
.olControlOverviewMapExtentRectangle {
  overflow: hidden;
  background-image: url("../images/openlayers/blank.gif");
  cursor: move;
  border: 2px dotted red;
}

/* line 90, ../sass/openlayers.scss */
.olControlOverviewMapRectReplacement {
  overflow: hidden;
  cursor: move;
  background-image: url("../images/openlayers/overview_replacement.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 97, ../sass/openlayers.scss */
.olLayerGeoRSSDescription {
  float: left;
  width: 100%;
  overflow: auto;
  font-size: 1.0em;
}

/* line 103, ../sass/openlayers.scss */
.olLayerGeoRSSClose {
  float: right;
  color: gray;
  font-size: 1.2em;
  margin-right: 6px;
  font-family: sans-serif;
}

/* line 110, ../sass/openlayers.scss */
.olLayerGeoRSSTitle {
  float: left;
  font-size: 1.2em;
}

/* line 114, ../sass/openlayers.scss */
.olPopupContent {
  padding: 5px;
  overflow: auto;
}

/* line 118, ../sass/openlayers.scss */
.olControlNavToolbar {
  width: 0px;
  height: 0px;
}
/* line 121, ../sass/openlayers.scss */
.olControlNavToolbar div {
  display: block;
  width: 28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

/* line 129, ../sass/openlayers.scss */
.olControlNavigationHistory {
  background-image: url("../images/openlayers/navigation_history.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

/* line 135, ../sass/openlayers.scss */
.olControlNavigationHistoryPreviousItemActive {
  background-position: 0px 0px;
}

/* line 138, ../sass/openlayers.scss */
.olControlNavigationHistoryPreviousItemInactive {
  background-position: 0px -24px;
}

/* line 141, ../sass/openlayers.scss */
.olControlNavigationHistoryNextItemActive {
  background-position: -24px 0px;
}

/* line 144, ../sass/openlayers.scss */
.olControlNavigationHistoryNextItemInactive {
  background-position: -24px -24px;
}

/* line 148, ../sass/openlayers.scss */
.olControlNavToolbar .olControlNavigationItemActive {
  background-image: url("../images/openlayers/panning-hand-on.png");
  background-repeat: no-repeat;
}
/* line 151, ../sass/openlayers.scss */
.olControlNavToolbar .olControlNavigationItemInactive {
  background-image: url("../images/openlayers/panning-hand-off.png");
  background-repeat: no-repeat;
}
/* line 154, ../sass/openlayers.scss */
.olControlNavToolbar .olControlZoomBoxItemActive {
  background-image: url("../images/openlayers/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
/* line 158, ../sass/openlayers.scss */
.olControlNavToolbar .olControlZoomBoxItemInactive {
  background-image: url("../images/openlayers/drag-rectangle-off.png");
  background-repeat: no-repeat;
}

/* line 162, ../sass/openlayers.scss */
.olControlEditingToolbar {
  float: right;
  right: 0px;
  height: 30px;
  width: 200px;
}
/* line 167, ../sass/openlayers.scss */
.olControlEditingToolbar div {
  background-image: url("../images/openlayers/editing_tool_bar.png");
  background-repeat: no-repeat;
  float: right;
  width: 24px;
  height: 24px;
  margin: 5px;
}
/* line 174, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlNavigationItemActive {
  background-position: -103px -23px;
}
/* line 176, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlNavigationItemInactive {
  background-position: -103px 0px;
}
/* line 178, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
  background-position: -77px -23px;
}
/* line 180, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
  background-position: -77px 0px;
}
/* line 182, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
  background-position: -51px 0px;
}
/* line 184, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
  background-position: -51px -23px;
}
/* line 186, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
  background-position: -26px 0px;
}
/* line 188, ../sass/openlayers.scss */
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
  background-position: -26px -23px;
}

/* line 192, ../sass/openlayers.scss */
div.olControlSaveFeaturesItemActive {
  background-image: url(../images/openlayers/save_features_on.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
/* line 196, ../sass/openlayers.scss */
div.olControlSaveFeaturesItemInactive {
  background-image: url(../images/openlayers/save_features_off.png);
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

/* line 201, ../sass/openlayers.scss */
.olHandlerBoxZoomBox {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border: 2px solid #68a;
  position: absolute;
  background-color: white;
  opacity: 0.40;
  font-size: 1px;
  filter: alpha(opacity=40);
}

/* line 212, ../sass/openlayers.scss */
.olHandlerBoxSelectFeature {
  border: 2px solid blue;
  position: absolute;
  background-color: white;
  opacity: 0.50;
  font-size: 1px;
  filter: alpha(opacity=50);
}

/* line 220, ../sass/openlayers.scss */
.olControlPanPanel {
  top: 10px;
  left: 5px;
}
/* line 223, ../sass/openlayers.scss */
.olControlPanPanel div {
  background-image: url(../images/openlayers/pan-panel.png);
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
}
/* line 229, ../sass/openlayers.scss */
.olControlPanPanel .olControlPanNorthItemInactive {
  top: 0px;
  left: 9px;
  background-position: 0px 0px;
}
/* line 233, ../sass/openlayers.scss */
.olControlPanPanel .olControlPanSouthItemInactive {
  top: 36px;
  left: 9px;
  background-position: 18px 0px;
}
/* line 237, ../sass/openlayers.scss */
.olControlPanPanel .olControlPanWestItemInactive {
  position: absolute;
  top: 18px;
  left: 0px;
  background-position: 0px 18px;
}
/* line 242, ../sass/openlayers.scss */
.olControlPanPanel .olControlPanEastItemInactive {
  top: 18px;
  left: 18px;
  background-position: 18px 18px;
}

/* line 247, ../sass/openlayers.scss */
.olControlZoomPanel {
  top: 71px;
  left: 14px;
}
/* line 250, ../sass/openlayers.scss */
.olControlZoomPanel div {
  background-image: url(../images/openlayers/zoom-panel.png);
  position: absolute;
  height: 18px;
  width: 18px;
  cursor: pointer;
}
/* line 256, ../sass/openlayers.scss */
.olControlZoomPanel .olControlZoomInItemInactive {
  top: 0px;
  left: 0px;
  background-position: 0px 0px;
}
/* line 260, ../sass/openlayers.scss */
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
  top: 18px;
  left: 0px;
  background-position: 0px -18px;
}
/* line 264, ../sass/openlayers.scss */
.olControlZoomPanel .olControlZoomOutItemInactive {
  top: 36px;
  left: 0px;
  background-position: 0px 18px;
}

/* line 269, ../sass/openlayers.scss */
.olPopupCloseBox {
  background: url("../images/openlayers/dark/close.png") no-repeat;
  cursor: pointer;
}

/* line 273, ../sass/openlayers.scss */
.olControlPanZoomBar {
  cursor: pointer;
}

/* line 276, ../sass/openlayers.scss */
.olFramedCloudPopupContent {
  padding: 5px;
  overflow: auto;
}

/* line 280, ../sass/openlayers.scss */
.olControlNoSelect {
  -moz-user-select: none;
}

/* line 283, ../sass/openlayers.scss */
.olImageLoadError {
  background-color: pink;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* IE */
}

/**
 * Cursor styles
 */
/* line 293, ../sass/openlayers.scss */
.olCursorWait {
  cursor: wait;
}

/* line 296, ../sass/openlayers.scss */
.olDragDown {
  cursor: move;
}

/* line 299, ../sass/openlayers.scss */
.olDrawBox {
  cursor: crosshair;
}

/* line 302, ../sass/openlayers.scss */
.olControlDragFeatureOver {
  cursor: move;
}

/* line 305, ../sass/openlayers.scss */
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
  cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
/* line 312, ../sass/openlayers.scss */
.olControlLayerSwitcher {
  position: absolute;
  top: 25px;
  right: 0px;
  width: 20em;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-size: smaller;
  color: white;
  background-color: transparent;
}
/* line 325, ../sass/openlayers.scss */
.olControlLayerSwitcher .layersDiv {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 75px;
  background-color: darkblue;
  width: 100%;
  height: 100%;
}
/* line 333, ../sass/openlayers.scss */
.olControlLayerSwitcher .layersDiv .baseLbl, .olControlLayerSwitcher .layersDiv .dataLbl {
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
}
/* line 337, ../sass/openlayers.scss */
.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .dataLayersDiv {
  padding-left: 10px;
}
/* line 339, ../sass/openlayers.scss */
.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {
  top: 5px;
  right: 0px;
}

/* line 343, ../sass/openlayers.scss */
.openlayers-popup-description td {
  padding: 5px;
}
/* line 345, ../sass/openlayers.scss */
.openlayers-popup-description td img {
  border: 2px solid #000;
}

/* line 348, ../sass/openlayers.scss */
.openlayers-popup-name {
  font-weight: bold;
  font-size: 1.3em;
}

/* line 352, ../sass/openlayers.scss */
.view-herbmap .olPopup {
  height: 400px;
  width: 350px;
}
