/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
/* line 27, ../sass/pages.scss */
#skip-link a {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}
/* line 38, ../sass/pages.scss */
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}
/* line 49, ../sass/pages.scss */
#skip-link a:hover, #skip-link a:active, #skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
/* line 61, ../sass/pages.scss */
#sitelogo a img {
  vertical-align: bottom;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 67, ../sass/pages.scss */
.with-sitename-slogan #logo {
  border-right: 1px dotted #DEDEDF;
}

/* line 70, ../sass/pages.scss */
#logo {
  margin: 0 0 0 0;
  padding: 0 15px 0 10px;
  float: left;
}

/* line 76, ../sass/pages.scss */
#name-and-slogan {
  float: left;
  padding: 0 10px 0 15px;
}

/* line 80, ../sass/pages.scss */
#site-name, #slogan {
  display: block;
}

/* line 83, ../sass/pages.scss */
#site-name {
  font-size: 180%;
  line-height: 140%;
}

/* line 87, ../sass/pages.scss */
h1#site-name, div#site-name {
  margin: 0;
  font-weight: normal;
}

/* line 94, ../sass/pages.scss */
#site-slogan {
  font-size: 100%;
  margin-top: -2px;
}

/* line 98, ../sass/pages.scss */
#header-site-info {
  width: auto;
}
/* line 99, ../sass/pages.scss */
#header-site-info.block {
  margin-bottom: 0;
}

/*
 * Main (container for everything else)
 */
/* line 109, ../sass/pages.scss */
#main {
  padding-top: 5px;
}

/*
 * Content
 */
/* line 118, ../sass/pages.scss */
.breadcrumb {
  padding-bottom: 0;
  /* Undo system.css */
}

/* line 125, ../sass/pages.scss */
tr.even {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}
/* line 128, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}
/* line 131, ../sass/pages.scss */
tr.odd td {
  padding: 0.3em 0.5em;
  background-color: #FFFFFF;
}
/* line 134, ../sass/pages.scss */
tr.even td {
  padding: 0.3em 0.5em;
  background-color: #FFFFFF;
}
/* line 137, ../sass/pages.scss */
tr.odd td.active, tr.even td.active {
  background-color: #DDDDDD;
}

/* line 142, ../sass/pages.scss */
div.warning {
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 146, ../sass/pages.scss */
tr.warning {
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 152, ../sass/pages.scss */
.error {
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 156, ../sass/pages.scss */
.warning {
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 162, ../sass/pages.scss */
.help {
  margin: 1em 0;
}

/* line 165, ../sass/pages.scss */
.more-help-link {
  font-size: 0.85em;
  text-align: right;
}

/* line 171, ../sass/pages.scss */
textarea {
  font-size: 110%;
}

/* line 174, ../sass/pages.scss */
ul.links {
  margin: 1em 0;
  padding: 0;
}
/* line 177, ../sass/pages.scss */
ul.links.inline {
  margin: 0;
  display: inline;
}
/* line 180, ../sass/pages.scss */
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

/* line 185, ../sass/pages.scss */
#content ul.links li.first {
  padding-left: 0;
}

/* line 188, ../sass/pages.scss */
#sitecontent ul.links li {
  padding: 0;
}

/* line 191, ../sass/pages.scss */
.pager {
  clear: both;
  margin: 1em 0;
  text-align: center;
}
/* line 195, ../sass/pages.scss */
.pager a, .pager strong.pager-current {
  padding: 0.5em;
}

/* line 198, ../sass/pages.scss */
.feed-icons {
  margin: 1em 0;
}

/* line 201, ../sass/pages.scss */
.more-link {
  text-align: right;
  /* LTR */
}

/* line 205, ../sass/pages.scss */
.region-content-bottom {
  margin: 1.5em 0 0 0;
}

/* line 208, ../sass/pages.scss */
#content #content-top-wrapper .section {
  border-bottom: 1px dotted #dededf;
  margin-bottom: 2em;
}

/* line 212, ../sass/pages.scss */
#content-bottom-wrapper {
  margin: 0em 0 1em 0;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 235, ../sass/pages.scss */
#footer .section p {
  margin: 0;
}

/*
 * Closure
 */
/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
/* line 258, ../sass/pages.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 274, ../sass/pages.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
/* line 288, ../sass/pages.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* search styling */
/* line 296, ../sass/pages.scss */
.search-results .search-info {
  color: #777;
}
