/* $Id: print.css,v 1.8.2.1 2010/06/26 15:36:04 johnalbin Exp $ */
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/* underline all links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000313}}
a:link, a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000319}}
#site-name a:link, #site-name a:visited {
  text-decoration: none !important;
}

/* CSS2 selector to add visible href after links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000324}}
#content {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000326}}
#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000334}}
#content .section {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Un-float the content */
/* Turn off any background colors or images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000344}}
body, #page-wrapper, #page, #main-wrapper, #main {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000349}}
#content {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000353}}
#content .section {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}

/* Hide sidebars and nav elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000360}}
#skip-link, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .breadcrumb, div.tabs, .links, .taxonomy, .book-navigation, .forum-topic-navigation, .pager, .feed-icons {
  visibility: hidden;
  display: none;
}

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/print\.scss}line{font-family:\0000367}}
#page-wrapper {
  overflow-y: visible;
}
