/* colors */
/* this is the inset look you see on the menu items */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\000035}}
#superfish .menu li li {
  top: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\000037}}
#superfish .menu li li li {
  top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000310}}
#nav .block, #superfish .block {
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000313}}
#nav, #superfish {
  margin: 0 auto;
  padding: 0px;
  float: left;
  /* border-bottom: 1px solid #346b96; */
  position: relative;
  z-index: 10000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000322}}
#header .column.W #superfish {
  float: left;
  bottom: 0;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000328}}
.roundify {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* border seperator */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000335}}
#nav li, #superfish li {
  float: left;
  word-wrap: normal;
  white-space: normal;
  padding: 0 1px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000342}}
#navigation #nav, #navigation #superfish {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000345}}
#nav .menu a, #superfish .menu a {
  text-decoration: none;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000348}}
#nav .menu a:visited, #superfish .menu a:visited {
  text-decoration: none;
  padding-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000352}}
#nav li a, #superfish li a {
  text-decoration: none;
  padding: 6px 29px 0 29px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000356}}
#nav h2, #superfish h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000361}}
#nav .menu a, #superfish .menu a {
  padding: 6px 1em;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000365}}
#nav .menu, #superfish .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000369}}
#nav .menu *, #superfish .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000374}}
#nav .menu {
  line-height: 1.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000377}}
#superfish .menu {
  line-height: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000379}}
#superfish .menu ul {
  position: absolute;
  top: -999em;
  min-width: 13em;
  width: 13em;
  max-width: 17em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000385}}
#superfish .menu ul li {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000387}}
#superfish .menu li {
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000388}}
#superfish .menu li:hover {
  visibility: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000393}}
#nav .menu a {
  display: block;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\0000399}}
#superfish .menu a {
  display: block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003103}}
#superfish .menu li:hover ul, #superfish .menu li.sfHover ul {
  left: 0;
  top: 24px;
  z-index: 99;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003108}}
#superfish ul.menu li:hover li ul, #superfish ul.menu li.sfHover li ul {
  top: -999em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003111}}
#superfish ul.menu li li:hover ul, #superfish ul.menu li li.sfHover ul {
  left: 13em;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003114}}
#superfish ul.menu li li:hover li ul, #superfish ul.menu li li.sfHover li ul {
  top: -999em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003117}}
#superfish ul.menu li li li:hover ul, #superfish ul.menu li li li.sfHover ul {
  left: 13em;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003121}}
#superfish .menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003124}}
#superfish .menu li {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003126}}
#superfish .menu li:hover, #superfish .menu li.sfHover {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003129}}
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003132}}
#superfish .menu li:hover, #superfish .menu li.sfHover {
  z-index: 20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003134}}
#superfish .menu a {
  z-index: 20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003135}}
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
  z-index: 20;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003139}}
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 0.6em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003151}}
a > .sf-sub-indicator {
  background-position: 0 -100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003153}}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003157}}
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003162}}
#superfish .menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003165}}
#superfish .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003167}}
#superfish .menu ul a:focus > .sf-sub-indicator, #superfish .menu ul a:hover > .sf-sub-indicator, #superfish .menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003170}}
#superfish .menu ul li:hover > a > .sf-sub-indicator, #superfish .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003172}}
#superfish .sf-shadow ul {
  background: url(../images/shadow.png) no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/superfish\.scss}line{font-family:\00003179}}
#superfish .sf-shadow ul.sf-shadow-off {
  background: transparent;
}
