/* colors */
/* this is the inset look you see on the menu items */
/* line 5, ../sass/superfish.scss */
#superfish .menu li li {
  top: -1px;
}
/* line 7, ../sass/superfish.scss */
#superfish .menu li li li {
  top: -1px;
}

/* line 10, ../sass/superfish.scss */
#nav .block, #superfish .block {
  margin-bottom: 0px;
}

/* line 13, ../sass/superfish.scss */
#nav, #superfish {
  margin: 0 auto;
  padding: 0px;
  float: left;
  /* border-bottom: 1px solid #346b96; */
  position: relative;
  z-index: 10000;
}

/* line 22, ../sass/superfish.scss */
#header .column.W #superfish {
  float: left;
  bottom: 0;
  position: absolute;
}

/* line 28, ../sass/superfish.scss */
.roundify {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* border seperator */
/* line 35, ../sass/superfish.scss */
#nav li, #superfish li {
  float: left;
  word-wrap: normal;
  white-space: normal;
  padding: 0 1px 0 0;
}

/* line 42, ../sass/superfish.scss */
#navigation #nav, #navigation #superfish {
  width: 100%;
}

/* line 45, ../sass/superfish.scss */
#nav .menu a, #superfish .menu a {
  text-decoration: none;
  padding-top: 5px;
}
/* line 48, ../sass/superfish.scss */
#nav .menu a:visited, #superfish .menu a:visited {
  text-decoration: none;
  padding-top: 5px;
}

/* line 52, ../sass/superfish.scss */
#nav li a, #superfish li a {
  text-decoration: none;
  padding: 6px 29px 0 29px;
}

/* line 56, ../sass/superfish.scss */
#nav h2, #superfish h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* line 61, ../sass/superfish.scss */
#nav .menu a, #superfish .menu a {
  padding: 6px 1em;
  text-decoration: none;
}

/* line 65, ../sass/superfish.scss */
#nav .menu, #superfish .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 69, ../sass/superfish.scss */
#nav .menu *, #superfish .menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 74, ../sass/superfish.scss */
#nav .menu {
  line-height: 1.3em;
}

/* line 77, ../sass/superfish.scss */
#superfish .menu {
  line-height: 1.3em;
}
/* line 79, ../sass/superfish.scss */
#superfish .menu ul {
  position: absolute;
  top: -999em;
  min-width: 13em;
  width: 13em;
  max-width: 17em;
}
/* line 85, ../sass/superfish.scss */
#superfish .menu ul li {
  width: 100%;
}
/* line 87, ../sass/superfish.scss */
#superfish .menu li {
  float: left;
  position: relative;
}
/* line 88, ../sass/superfish.scss */
#superfish .menu li:hover {
  visibility: inherit;
}

/* line 93, ../sass/superfish.scss */
#nav .menu a {
  display: block;
  position: relative;
}

/* line 99, ../sass/superfish.scss */
#superfish .menu a {
  display: block;
  position: relative;
}
/* line 103, ../sass/superfish.scss */
#superfish .menu li:hover ul, #superfish .menu li.sfHover ul {
  left: 0;
  top: 24px;
  z-index: 99;
}
/* line 108, ../sass/superfish.scss */
#superfish ul.menu li:hover li ul, #superfish ul.menu li.sfHover li ul {
  top: -999em;
}
/* line 111, ../sass/superfish.scss */
#superfish ul.menu li li:hover ul, #superfish ul.menu li li.sfHover ul {
  left: 13em;
  top: 0;
}
/* line 114, ../sass/superfish.scss */
#superfish ul.menu li li:hover li ul, #superfish ul.menu li li.sfHover li ul {
  top: -999em;
}
/* line 117, ../sass/superfish.scss */
#superfish ul.menu li li li:hover ul, #superfish ul.menu li li li.sfHover ul {
  left: 13em;
  top: 0;
}
/* line 121, ../sass/superfish.scss */
#superfish .menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px;
}
/* line 124, ../sass/superfish.scss */
#superfish .menu li {
  background: transparent;
}
/* line 126, ../sass/superfish.scss */
#superfish .menu li:hover, #superfish .menu li.sfHover {
  outline: 0;
}
/* line 129, ../sass/superfish.scss */
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
  outline: 0;
}
/* line 132, ../sass/superfish.scss */
#superfish .menu li:hover, #superfish .menu li.sfHover {
  z-index: 20;
}
/* line 134, ../sass/superfish.scss */
#superfish .menu a {
  z-index: 20;
}
/* line 135, ../sass/superfish.scss */
#superfish .menu a:focus, #superfish .menu a:hover, #superfish .menu a:active {
  z-index: 20;
}

/* line 139, ../sass/superfish.scss */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 0.6em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url(../images/arrows-ffffff.png) no-repeat -10px -100px;
}

/* line 151, ../sass/superfish.scss */
a > .sf-sub-indicator {
  background-position: 0 -100px;
}
/* line 153, ../sass/superfish.scss */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* line 157, ../sass/superfish.scss */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}

/* line 162, ../sass/superfish.scss */
#superfish .menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 165, ../sass/superfish.scss */
#superfish .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
/* line 167, ../sass/superfish.scss */
#superfish .menu ul a:focus > .sf-sub-indicator, #superfish .menu ul a:hover > .sf-sub-indicator, #superfish .menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 170, ../sass/superfish.scss */
#superfish .menu ul li:hover > a > .sf-sub-indicator, #superfish .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
/* line 172, ../sass/superfish.scss */
#superfish .sf-shadow ul {
  background: url(../images/shadow.png) no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
/* line 179, ../sass/superfish.scss */
#superfish .sf-shadow ul.sf-shadow-off {
  background: transparent;
}
