/* $Id: tabs-rtl.css,v 1.2 2009/08/12 08:03:53 johnalbin Exp $ */
/**
 * @file
 * RTL companion for the tabs.css file.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/tabs-rtl\.scss}line{font-family:\000039}}
ul.primary {
  padding: 0 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/tabs-rtl\.scss}line{font-family:\0000311}}
ul.primary li {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/tabs-rtl\.scss}line{font-family:\0000313}}
ul.secondary {
  padding: 0 5px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/tabs-rtl\.scss}line{font-family:\0000315}}
ul.secondary li {
  float: right;
  border-left: none;
}
