/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */


.view-viewsslideshow {
margin-top: 5px;
}

.view-viewsslideshow .views-content-title {
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
bottom-right-radius: 10px;
background:none repeat scroll 0 0 #333;
padding:5px 10px;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    line-height: 22px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 95%;
    color: #fff;
}

.view-viewsslideshow .views-field-title {
    background-color: #e6e7e8;
    height: 55px;
    margin-top: -60px;
    opacity: 0.7;
    width: 460px;
    color: #fff;
    bottom: 0;
}

.view-viewsslideshow .views-content-title a {
padding: 10px;
}

.view-viewsslideshow .activeSlide .views-field-counter {
color: #fff;
background: url(../images/rotator_pager_active_bg.png) no-repeat 1px 1px transparent;
}

#views_slideshow_thumbnailhover_teaser_section_viewsslideshow-block_1 {
display: block;
clear: both;
height: 265px;
}

#views_slideshow_thumbnailhover_breakout_teasers_viewsslideshow-block_1 {
width: 100px;
}

.view-viewsslideshow .views-slideshow-controls-bottom {
float: right;
padding-top: 0px;
padding-bottom: 5px;
 margin-right: -5px;
}


.view-viewsslideshow .views-field-nothing {
float: right;
font-style: italic;
font-size: 90%;
margin-top: -20px;
margin-right: 10px;
z-index: 99;
position: relative;
}

.view-viewsslideshow .views-field-counter {
display: inline-block;
float: left;
padding: 0 5px 0 5px;
margin: 0 0.1em 0 0.1em;
color: #000;
background: url(../images/rotator_pager_bg.png) no-repeat 1px 1px transparent;
font-size: 95%;
cursor: pointer; 
cursor: hand;
z-index: 999;
}

#views_slideshow_singleframe_teaser_section_image_gallery_rotating_banner-block_1 {
position: relative;
}

#transparency {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 940px;
	height: 60px;
	background-color: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
}

#featurecontent {
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding-right: 10px;
	color: #fff;
}

.slideshowtitle {
font-weight: bold;
font-size: 1.5em;
margin-bottom: 4px;
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma,Helvetica,sans-serif;
}

#feature .slideshowtitle a:link,
#feature .slideshowtitle a:visited {
text-decoration: none;
}

.featureslideshow .views_slideshow_singleframe_slide {
height: 300px;
}

.campslideshow .imagecache-960pxwidescreen {
    border-color: #333 #000 #000 #333;
    border-style: solid;
    border-width: 1px;
}

.campslideshow {
    position: relative;
}

.campslideshow .views-slideshow-controls-bottom {
    top: 20px;
    color: #FFFFFF;
    left: 30px;
    position: absolute;
    z-index: 100;
    display: inline;
}

.campslideshow #campslideshowcontent {
  	position: absolute;
  	bottom: 37px;
  	left: 30px;
  	padding-right: 10px;
  	color: #fff;
}

.campslideshow .campslideshowtitle {
    color: #efefef;
    font-weight: bold;
    font-size: 2.7em;
    margin-bottom: 4px;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma,Helvetica,sans-serif;
    text-shadow: 0 1px 4px #000000;
}

.campslideshow .campslideshowcolllink{
    margin-top: 20px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

#feature .campslideshow .campslideshowcolllink a:link,
#feature .campslideshow .campslideshowcolllink a:visited {
    text-decoration: none;
    padding: 5px;
    background: #888;
	  -webkit-border-radius: 2px;
	  -khtml-border-radius: 2px;	
	  -moz-border-radius: 2px;
	  border-radius: 2px;
	  filter: alpha(opacity=75); /* internet explorer */
	  -khtml-opacity: 0.75;      /* khtml, old safari */
	  -moz-opacity: 0.75;       /* mozilla, netscape */
	  opacity: 0.75;           /* fx, safari, opera */	  
}

#feature .campslideshow .campslideshowcolllink a:hover,
#feature .campslideshow .campslideshowcolllink a:active,
#feature .campslideshow .campslideshowcolllink a:focus {
    background: #ccc;
    color: #000;    
	  filter: alpha(opacity=100); /* internet explorer */
	  -khtml-opacity: 1;      /* khtml, old safari */
	  -moz-opacity: 1;       /* mozilla, netscape */
	  opacity: 1;           /* fx, safari, opera */	  
	}


.campslideshow  .views_slideshow_thumbnailhover_div_breakout_teaser {
    float: left;
    margin-right: 3px;
    cursor: pointer;
    background: #888;
    padding: 1px 6px;
	filter: alpha(opacity=80); /* internet explorer */
	-khtml-opacity: 0.8;      /* khtml, old safari */
	-moz-opacity: 0.8;       /* mozilla, netscape */
	opacity: 0.8;           /* fx, safari, opera */
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;	
	font-weight: bold;
}

.campslideshow  .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide{
    color: #000;
    background: #ccc;    
	filter: alpha(opacity=1); /* internet explorer */
	-khtml-opacity: 1;      /* khtml, old safari */
	-moz-opacity: 1;       /* mozilla, netscape */
	opacity: 1;           /* fx, safari, opera */
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.islandoracampfeed .views-row {
    margin-bottom: 10px;
}

.campblogthumb {
float: left;
padding-right: 10px;
}

.campblogteaser {
clear: both;
height: 50px;
}

.campwelcome .node ul.links li.node_read_more {
float: right;
}

.slideshowtext {
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma,Helvetica,sans-serif;
}