/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */
/**
 * @file
 * Views Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\000038}}
.view-viewsslideshow {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000310}}
.view-viewsslideshow .views-content-title {
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  bottom-right-radius: 10px;
  background: none repeat scroll 0 0 #333;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: 700;
  height: 20px;
  line-height: 22px;
  margin: 0 10px 5px 0;
  overflow: hidden;
  padding: 0 0 0 5px;
  width: 95%;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000325}}
.view-viewsslideshow .views-field-title {
  background-color: #e6e7e8;
  height: 55px;
  margin-top: -60px;
  opacity: 0.7;
  width: 460px;
  color: #fff;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000333}}
.view-viewsslideshow .views-content-title a {
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000335}}
.view-viewsslideshow .activeSlide .views-field-counter {
  color: #fff;
  background: url(../images/rotator_pager_active_bg.png) no-repeat 1px 1px transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000339}}
#views_slideshow_thumbnailhover_teaser_section_viewsslideshow-block_1 {
  display: block;
  clear: both;
  height: 265px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000344}}
#views_slideshow_thumbnailhover_breakout_teasers_viewsslideshow-block_1 {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000348}}
.view-viewsslideshow .views-slideshow-controls-bottom {
  float: right;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-right: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000353}}
.view-viewsslideshow .views-field-nothing {
  float: right;
  font-style: italic;
  font-size: 90%;
  margin-top: -20px;
  margin-right: 10px;
  z-index: 99;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000361}}
.view-viewsslideshow .views-field-counter {
  display: inline-block;
  float: left;
  padding: 0 5px 0 5px;
  margin: 0 0.1em 0 0.1em;
  color: #000;
  background: url(../images/rotator_pager_bg.png) no-repeat 1px 1px transparent;
  font-size: 95%;
  cursor: pointer;
  cursor: hand;
  z-index: 999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000373}}
#views_slideshow_singleframe_teaser_section_image_gallery_rotating_banner-block_1 {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000376}}
#transparency {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 940px;
  height: 60px;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000387}}
#featurecontent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding-right: 10px;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\0000394}}
.slideshowtitle {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 4px;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma,Helvetica,sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\00003101}}
#feature .slideshowtitle a:link, #feature .slideshowtitle a:visited {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\00003104}}
.views_slideshow_singleframe_slide {
  height: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/sass\/views-styles\.scss}line{font-family:\00003107}}
.slideshowtext {
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans","Lucida Sans Unicode",Tahoma,Helvetica,sans-serif;
}
