body.front, body.not-front {
    background: none repeat scroll 0 0 #042332;
}

#navigation {
background: none repeat-x 0 0 #143152; 
background: -webkit-gradient(linear, left top, left bottom, from(#274160), to(#143152)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #274160,  #143152); /* for firefox 3.6+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#274160', endColorstr='#143152'); /* for IE */
}

#headercontent-wrapper {
    background: url("../images/1pxlighter.png") repeat-x scroll left top transparent;
}

#headercontent-wrapper-bg {
    background: none repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #515E6B;
}

/* SUPERFISH */

/* superfish borders */
#nav li, #superfish li {
border-right: 1px solid #112A44;
}

#superfish .menu li li.first,
#superfish .menu li li li.first {
border-top:1px solid #112A44;
}

#superfish .menu li li,
#superfish .menu li li li {
border-bottom:1px solid #112A44; 
border-left:1px solid #112A44;
}

/* background and link colors */

#header #navigation li.active a {
background: #274160;
}

#header #navigation li a,
#header #navigation li li a,
#header #navigation li li li a {
background: transparent;
}

#nav ul.menu li.active-trail, 
#superfish ul.menu li.active-trail, 
#nav ul.menu li:hover,
#superfish ul.menu li:hover {
background-color: #274160;
opacity: 1;
}

#superfish .menu li li {
    background-color: #153253;
}

/* hover and active-trail color */ 
#header #navigation li a.active,
#header #navigation li a:visited .active,
#header #navigation li a:hover, 
#header #navigation li li a:hover, 
#header #navigation li li li a:hover {
background: #274160 !important;
color: #fff !important;
}


#feature {
color: #001933;
}

#feature {
    background-color: #6699cc;
}

#feature h2.title {
color: #fff;
text-shadow: 0 1px 2px #3B3B3B;
}

#feature-wrapper.in2 #feature h2.title {
padding-bottom: 0.6em;    
background: url("../images/1pxdark.png") repeat-x scroll left bottom transparent;
border-bottom: 1px solid #7da1d4;
}


#closure {
    background: url("../images/1pxdark.png") repeat-x scroll left top transparent;
    border-top: 1px solid #111111;
    color: #787878;
    padding: 0.5em;
}

.SidebarFooter {
    background: none repeat-y scroll right top transparent;
    border-right: 0px solid #111111;
}
    
/* Link Colors */
a:link {

}

a:visited {

}

#bottom a:link {
color: #afafaf;
}

#bottom a:visited {
color: #afafaf;
}

#bottom a:hover, 
#bottom a:focus {
color: #afafaf;
}


#footer-content-bottom-wrapper .block {
    background: none repeat-x scroll left top transparent;
    border-top: 1px solid #333333;
}

/* Search Block */

  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  color: #CCC;
  border: 1px solid #000;
  -moz-box-shadow:0 1px 0 #444444;
  background: #3B5775 url(../images/insearch-magglass.png) no-repeat right center;
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #4F749B url(../images/insearch-magglass.png) no-repeat right center;
color: #FFFFFF;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#fff url(../images/insearch-magglass.png) no-repeat right center;
border:1px solid #EEEEEE;
color:#333333;
text-shadow:0 1px 0 #FFFFFF;
}


#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #2E5067;
}