body.front, body.not-front {
    background: none repeat scroll 0 0 #331700; /*changed*/
}

#navigation {
background: none repeat-x 0 0 #533215; 
background: -webkit-gradient(linear, left top, left bottom, from(#604227), to(#533215)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #604227,  #533215); /* for firefox 3.6+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#604227', endColorstr='#533215'); /* for IE */
}

#headercontent-wrapper {
    background: url("../images/1pxlighter.png") repeat-x scroll left top transparent;
}

#headercontent-wrapper-bg {
    background: none repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #6b5d51; /*changed*/
}

#headercontent-wrapper .column.HeaderRight #secondary-menu {
	background-color: #121A16; /*changed*/
	border-top-color: #121A16;
}

/* SUPERFISH */

/* superfish borders */
#nav li, #superfish li {
border-right: 1px solid #442611; /*changed*/
}

#nav li.first, #superfish li.first {
    border-left: 1px solid #442611; /*changed*/
}

#superfish .menu li li.first,
#superfish .menu li li li.first {
border-top:1px solid #442611; /*changed*/
}

#superfish .menu li li,
#superfish .menu li li li {
border-bottom:1px solid #442611;  /*changed*/
border-left:1px solid #442611; /*changed*/
}

/* background and link colors */

#header #navigation li.active a {
background: #604227; /*changed*/
}

#header #navigation li a,
#header #navigation li li a,
#header #navigation li li li a {
background: transparent;
}

#nav ul.menu li.active-trail, 
#superfish ul.menu li.active-trail, 
#nav ul.menu li:hover,
#superfish ul.menu li:hover {
background-color: #604227; /*changed*/
opacity: 1;
}

#superfish .menu li li {
    background-color: #532f15; /*changed*/
}

/* hover and active-trail color */ 
#header #navigation li a.active,
#header #navigation li a:visited .active,
#header #navigation li a:hover, 
#header #navigation li li a:hover, 
#header #navigation li li li a:hover {
background: #604227 !important;
color: #fff !important;
}


#feature {
color: #401c03; /*changed*/
}

#feature {
    background-color: #f9c868; /*changed*/
}

#feature h2.title {
color: #24201D;
text-shadow: 0 1px 2px #78726C;
}

#feature .block h2.title {
border-bottom: 1px solid #ffe4cc;
}

#feature-wrapper.in2 #feature h2.title {
padding-bottom: 0.6em;    
background: url("../images/1pxdark.png") repeat-x scroll left bottom transparent;
border-bottom: 1px solid #d4a77d;
}


#closure {
    background: url("../images/1pxdark.png") repeat-x scroll left top transparent;
    border-top: 1px solid #111111;
    color: #787878;
    padding: 0.5em;
}

.SidebarFooter {
    background: none repeat-y scroll right top transparent;
    border-right: 0px solid #111111;
}
    
/* Link Colors */
a:link {

}

a:visited {

}

#bottom a:link {
color: #afafaf;
}

#bottom a:visited {
color: #afafaf;
}

#bottom a:hover, 
#bottom a:focus {
color: #afafaf;
}

#footer-content-bottom-wrapper.with-footer-preface .block{
    border-top: 1px solid #333333;
}


#footer-content-bottom-wrapper .block {
    background: none repeat-x scroll left top transparent;
}

/* Search Block */

  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  color: #CCC;
  border: 1px solid #000;
  -moz-box-shadow:0 1px 0 #444444;
  background: #7a5532 url(../images/insearch-magglass.png) no-repeat right center; /*changed*/
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #94663d url(../images/insearch-magglass.png) no-repeat right center; /*changed*/
color: #FFFFFF;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#94663d url(../images/insearch-magglass.png) no-repeat right center; /*changed*/
border:1px dashed #222; /*changed*/
color:#FFFFFF; /*changed*/
text-shadow:0 1px 0 #333333; /*changed*/
}


#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #67412e;
}