/* $Id: forms.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp $ */

/**
 * @file
 * Form Styling
 */

.form-item, .form-checkboxes, .form-radios {
  margin: 1em 0; }

.form-item {
  input.error, textarea.error, select.error {
    border: 2px solid #c00; }
  label {
    display: block;
    font-weight: bold;
    &.option {
      display: inline;
      font-weight: normal; } } }

.form-required {
  color: #c00; }

.form-item .description {
  font-size: 0.85em; }

.form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.4em 0; }

.form-submit {}

.container-inline {
  div, label {
    display: inline; } }

.tips, #search-box {}

/*
 * Search (search-theme-form.tpl.php)
 */

#edit-search-theme-form-1-wrapper label {
  display: none; }

/*
 * Search (search-block-form.tpl.php)
 */

#search-block-form {}

#edit-search-block-form-1-wrapper label {
  display: none; }

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left;
  /* LTR */
  ul {
    margin-bottom: 0;
    /* Position OpenID's ul next to the rest of the links. */ }
  li {
    &.openid-link {
      margin-top: 1em;
      margin-left: -20px;
      /* LTR */
      /* Un-do some of the padding on the ul list. */ }
    &.user-link {
      margin-top: 1em; } } }

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login {
  ul {
    margin: 1em 0; }
  li {
    &.openid-link, &.user-link {
      margin-left: -2em;
      /* LTR */
      /* Un-do all of the padding on the ul list. */ } } }

/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */

form {
  tbody {
    border-top: 1px solid #ccc; }
  th, thead th {
    text-align: left;
    /* LTR */
    border: 0.7px solid #D6D1D1;
    color: #000;
    font-size: 110%;
    padding: 0.3em 0.5em;
    background-color: #ececec; }
  tbody th {
    border-bottom: 1px solid #ccc; } }

.form-item, .form-checkboxes, .form-radios {
  margin: 0.5em 0; }

.form-select option {
  padding-top: 1px;
  padding-bottom: 1px; }

/* Search Block */

#header {
  #google-cse-searchbox-form .form-item, #islandora-solr-simple-search-form .form-item {
    margin: 0px;
    float: left; }
  #google-cse-searchbox-form .form-item label, #islandora-solr-simple-search-form .form-item label, #search-box .form-item label, #search-block-form .form-item label {
    color: #fff;
    /* Wrapper for the search form */ }
  #google-cse-searchbox-form .form-item input, #islandora-solr-simple-search-form .form-item input, #search-box .form-item input, #search-block-form .form-item input {
    margin: 4px 0px 0 0;
    width: 200px;
    display: inline;
    height: 17px;
    font-size: 9.5pt;
    color: #CCC;
    -moz-border-radius: 3px;
    -moz-border-radius: 3px;
    border-top-right: 3px;
    border-top-left: 3px;
    -webkit-border-radius: 3px;
    padding-right: 20px;
    padding-left: 5px;
    border: 1px solid #888;
    background: white url(../images/insearch-magglass.png) no-repeat right center; }
  #google-cse-searchbox-form .form-item input:hover, #islandora-solr-simple-search-form .form-item input:hover, #search-box .form-item input:hover, #search-block-form .form-item input:hover {
    background: white url(../images/insearch-magglass.png) no-repeat right center;
    color: #FFFFFF; }
  #google-cse-searchbox-form .form-item input:focus, #islandora-solr-simple-search-form .form-item input:focus, #search-box .form-item input:focus, #search-block-form .form-item input:focus {
    -moz-box-shadow: 0 0 3px #000000;
    background: white url(../images/insearch-magglass.png) no-repeat right center;
    border: 1px solid #EEEEEE;
    color: #333333;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    text-shadow: 0 1px 0 #FFFFFF; }
  #google-cse-searchbox-form input.form-submit, #islandora-solr-simple-search-form input.form-submit, #search-form input.form-submit, #search-box input.form-submit, #search-block-form input.form-submit {
    height: 21px;
    width: 21px;
    cursor: pointer;
    text-indent: -9999px;
    border: none;
    /* background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top;  */
    display: none;
    clear: right; }
  #google-cse-searchbox-form.block-search .form-item textarea:focus {
    border: 2px solid #2E5067; }
  #islandora-solr-simple-search-form {
    &.block-search .form-item textarea:focus, &.block-search .form-item textarea:focus input:focus {
      border: 2px solid #2E5067; } }
  #search-form {
    &.block-search .form-item textarea:focus, &.block-search .form-item textarea:focus input:focus {
      border: 2px solid #2E5067; } }
  #search-block-form .block-search .form-item textarea:focus {
    border: 2px solid #2E5067;
    input:focus {
      border: 2px solid #2E5067; } } }

#navbar-wrapper .NavbarRight form {
  padding: 2px 0; }

/* ------------------------------------------
CSS3 GITHUB Buttons for Drupal 6
Licensed under Unlicense 
------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------- form-submit */

.book_add_child a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.book_printer a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.node_read_more a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.comment_add a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.print_html a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.button, block-admin-configure .form-submit, input[type=submit], #views-ajax-pad .form-buttons .form-submit, .teaser-button {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em; }

.content-overview-links a {
  position: relative;
  overflow: visible;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font-size: 94%;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid #bbb;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: linear-gradient(#f2f2f2, #dddddd);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  line-height: 1.25em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
  padding: 0.34em 1em;
  margin-top: 0.2em;
  &:link, &:visited {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em; } }

.container-inline {
  a {
    position: relative;
    overflow: visible;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font-size: 94%;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    border: 1px solid #bbb;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
    background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
    background-image: -o-linear-gradient(#f2f2f2, #dddddd);
    background-image: linear-gradient(#f2f2f2, #dddddd);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    line-height: 1.25em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    padding: 0.34em 1em;
    margin-top: 0.2em;
    &:link, &:visited {
      position: relative;
      overflow: visible;
      display: inline-block;
      margin: 0;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff;
      font-size: 94%;
      color: #333;
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      border: 1px solid #bbb;
      background-color: #eaeaea;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
      background-image: -moz-linear-gradient(#f2f2f2, #dddddd);
      background-image: -o-linear-gradient(#f2f2f2, #dddddd);
      background-image: linear-gradient(#f2f2f2, #dddddd);
      -webkit-background-clip: padding;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 0.2em;
      -moz-border-radius: 0.2em;
      border-radius: 0.2em;
      line-height: 1.25em;
      /* IE hacks */
      zoom: 1;
      *display: inline;
      padding: 0.34em 1em;
      margin-top: 0.2em; } }
  line-height: 1.25em; }

#edit-delete {
  color: #990000; }

#feeds-delete-tab-form .form-submit {
  color: #990000;
  &:hover, &:focus, &:active {
    border-color: #B53F3A;
    border-bottom-color: #A0302A;
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#da5d57), to(#b43731));
    background-image: -moz-linear-gradient(#da5d57, #b43731);
    background-image: -o-linear-gradient(#da5d57, #b43731);
    background-image: linear-gradient(#da5d57, #b43731); } }

#edit-delete {
  &:hover, &:focus, &:active {
    border-color: #B53F3A;
    border-bottom-color: #A0302A;
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#da5d57), to(#b43731));
    background-image: -moz-linear-gradient(#da5d57, #b43731);
    background-image: -o-linear-gradient(#da5d57, #b43731);
    background-image: linear-gradient(#da5d57, #b43731); } }

input[type=submit] {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.book_add_child a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.book_printer a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.node_read_more a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.comment_add a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.print_html a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.button {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.form-submit {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

#views-ajax-pad .form-buttons .form-submit {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.teaser-button {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.container-inline a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

.content-overview-links a {
  &:hover, &:focus, &:active {
    border-color: #516A89;
    border-bottom-color: #465C77;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: -moz-linear-gradient(#8dabf4, #516a89);
    background-image: -o-linear-gradient(#8dabf4, #516a89);
    background-image: linear-gradient(#8dabf4, #516a89); } }

#feeds-delete-tab-form .form-submit {
  &:active, &.active {
    border-color: #A0302A;
    border-bottom-color: #B53F3A;
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b43731), to(#da5d57));
    background-image: -moz-linear-gradient(#b43731, #da5d57);
    background-image: -o-linear-gradient(#b43731, #da5d57);
    background-image: linear-gradient(#b43731, #da5d57); } }

#edit-delete {
  &:active, &.active {
    border-color: #A0302A;
    border-bottom-color: #B53F3A;
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b43731), to(#da5d57));
    background-image: -moz-linear-gradient(#b43731, #da5d57);
    background-image: -o-linear-gradient(#b43731, #da5d57);
    background-image: linear-gradient(#b43731, #da5d57); } }

input[type=submit]:active {
  border-color: #465C77;
  border-bottom-color: #516A89;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #5c6da3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
  background-image: -moz-linear-gradient(#516a89, #8dabf4);
  background-image: -o-linear-gradient(#516a89, #8dabf4);
  background-image: linear-gradient(#516a89, #8dabf4); }

.book_add_child a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.book_printer a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.node_read_more a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.comment_add a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.print_html a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.button {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.form-submit {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

#views-ajax-pad .form-buttons .form-submit {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.teaser-button {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.container-inline a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

.content-overview-links a {
  &:active, &.active {
    border-color: #465C77;
    border-bottom-color: #516A89;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #5c6da3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: -moz-linear-gradient(#516a89, #8dabf4);
    background-image: -o-linear-gradient(#516a89, #8dabf4);
    background-image: linear-gradient(#516a89, #8dabf4); } }

#header fieldset.captcha-admin-links {
  display: none; }

/* overrides extra padding on form-submit elements in Firefox */

.button::-moz-focus-inner, .form-submit::-moz-focus-inner, .teaser-button::-moz-focus-inner {
  border: none; }

/* correct teaser-button margin so it does not fall into text area */

div.teaser-button-wrapper {
  margin-top: -5px;
  padding-right: 0; }

/* pulls form submit buttons closer together */

.form-submit + {
  .form-submit, .form-submit-group {
    margin-left: 0; } }

.form-submit-group + {
  .form-submit, .form-submit-group {
    margin-left: 0; } }

/* ... Icons */

#search-form .form-submit {
  background-image: url(../images/search-darkgrey.png), -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#dddddd));
  background-image: url(../images/search-darkgrey.png), -moz-linear-gradient(#f2f2f2, #dddddd);
  background-image: url(../images/search-darkgrey.png), -o-linear-gradient(#f2f2f2, #dddddd);
  background-image: url(../images/search-darkgrey.png), linear-gradient(#f2f2f2, #dddddd);
  background-position: 0;
  padding-left: 20px;
  &:hover, &:focus {
    background-image: url(../images/search-white.png), -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: url(../images/search-white.png), -moz-linear-gradient(#8dabf4, #516a89);
    background-image: url(../images/search-white.png), -o-linear-gradient(#8dabf4, #516a89);
    background-image: url(../images/search-white.png), linear-gradient(#8dabf4, #516a89);
    background-position: 0;
    padding-left: 20px; }
  &:active {
    background-image: url(../images/search-white.png), -webkit-gradient(linear, 0 0, 0 100%, from(#8dabf4), to(#516a89));
    background-image: url(../images/search-white.png), -moz-linear-gradient(#8dabf4, #516a89);
    background-image: url(../images/search-white.png), -o-linear-gradient(#8dabf4, #516a89);
    background-image: url(../images/search-white.png), linear-gradient(#8dabf4, #516a89);
    background-position: 0;
    padding-left: 20px;
    background-image: url(../images/search-white.png), -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: url(../images/search-white.png), -moz-linear-gradient(#516a89, #8dabf4);
    background-image: url(../images/search-white.png), -o-linear-gradient(#516a89, #8dabf4);
    background-image: url(../images/search-white.png), linear-gradient(#516a89, #8dabf4);
    background-position: 0;
    padding-left: 20px; }
  &.active {
    background-image: url(../images/search-white.png), -webkit-gradient(linear, 0 0, 0 100%, from(#516a89), to(#8dabf4));
    background-image: url(../images/search-white.png), -moz-linear-gradient(#516a89, #8dabf4);
    background-image: url(../images/search-white.png), -o-linear-gradient(#516a89, #8dabf4);
    background-image: url(../images/search-white.png), linear-gradient(#516a89, #8dabf4);
    background-position: 0;
    padding-left: 20px; } }

#main-wrapper {
  .form-text, textarea {
    padding: 0.345em;
    border: solid 1px #cccccc;
    outline: 0;
    background: #FFFFFF; }
  .form-text:hover, textarea:hover, .form-text:focus, textarea:focus {
    border-color: #C9C9C9; } }

.resizable-textarea {
  width: 98%; }
