/* $Id: ie.css,v 1.2.2.1 2010/01/20 20:11:52 johnalbin Exp $ */

/**
 * @file
 * CSS targeted specifically for Internet Explorer for Windows.
 *
 * Any CSS in this file will apply to all versions of IE. You can target
 * specific versions of IE by using conditional comments. See your sub-theme's
 * .info file for an easy way to use them.
 *
 * While building your theme, you should be aware that IE limits Drupal to 31
 * stylesheets total. The work-around for the bug is to enable CSS aggregation
 * under: admin / settings / performance.
 */

/*
 * Tabs
 */

ul {
  &.primary li a, &.secondary li a {
    cursor: pointer;
    .tab {
      cursor: pointer; } } }

#navbar-wrapper ul li {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

/*
 * Drupal nodes
 */

.node-unpublished .node-inner>* {
  position: relative;
  /* Otherwise these elements will appear below the "Unpublished" text. */ }

/*
 * Drupal admin tables
 */

tr {
  &.even {
    th, td {
      border-bottom: 1px solid #ccc;
      /* IE doesn't display borders on table rows */ } }
  &.odd {
    th, td {
      border-bottom: 1px solid #ccc;
      /* IE doesn't display borders on table rows */ } } }

/*
 * Markup free clearing
 */

.clearfix {
  zoom: 1; }

#superfish {
  .menu ul {
    width: 13em;
    min-width: 13em; }
  li {
    word-wrap: break-word; } }

#search-form .form-submit {
  background-image: url(../images/search-darkgrey.png);
  background-position: 0 center;
  padding-left: 20px;
  &:hover, &:focus {
    background-image: url(../images/search-white.png);
    background-position: 0 center;
    padding-left: 20px; }
  &:active {
    background-image: url(../images/search-white.png);
    background-position: 0 center;
    padding-left: 20px;
    background-image: url(../images/search-white.png);
    background-position: 0 center;
    padding-left: 20px; }
  &.active {
    background-image: url(../images/search-white.png);
    background-position: 0 center;
    padding-left: 20px; } }
