/* $Id: layout-fixed.css,v 1.17 2009/11/05 12:09:53 johnalbin Exp $ */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

/*
 * Body
 */

#page-wrapper, .region-page-closure {
  min-width: 980px;
  /* Don't allow the browser to make the site unreadable. */ }

#page-wrapper, .region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */ }

#page, #page-wrapper {}

.region-topbar-top, #topbar, #headercontent-wrapper div.section, #feature div.section, #breadcrumb-wrapper, #preface-wrapper div.section, #navigation div.section, #featured div.section, #messages, #sitecontent, #main, #mainbottom-wrapper div.section, #bottom, #bottomcontent-wrapper, #footer-wrapper, #closure {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/*
 * Header
 */

#header {
  color: #fff;
  .section {} }

#headercontent-wrapper, #search-box {}

.region-header {
  clear: both;
  /* Clear the logo */ }

#headercontent-wrapper .column.HeaderRight {
  #secondary-menu {
    line-height: 2em;
    margin-bottom: 0;
    margin-right: 10px; }
  .block-menu {
    line-height: 2em;
    margin-bottom: 0;
    margin-right: 0px; } }

/*
 * Main (container for everything else)
 */

#main-wrapper {
  position: relative; }

#sitecontent {
  min-height: 500px;
  height: auto !important;
  height: 500px;
  padding: 0; }

/*
 * Content
 */

#content, .no-sidebars #content {
  float: left;
  /* LTR */
  width: 960px;
  margin-left: 0;
  /* LTR */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #content .section. */ }

.sidebar-first #content {
  width: 720px;
  margin-left: 240px;
  /* LTR */
  /* The width of .region-sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */ }

.sidebar-second #content {
  width: 720px;
  margin-left: 0;
  /* LTR */
  margin-right: -720px;
  /* LTR */
  /* Negative value of #content's width + left margin. */ }

.two-sidebars #content {
  width: 480px;
  margin-left: 240px;
  /* LTR */
  /* The width of .region-sidebar-first */
  margin-right: -720px;
  /* LTR */
  /* Negative value of #content's width + left margin. */ }

#content .section {
  margin: 10px;
  padding: 0; }

/*
 * Navigation
 */

#navigation {
  /* float: left; /* LTR */
  /* width: 100%; */
  /* margin-left: 0; /* LTR */
  /* margin-right: -100%; /* LTR */
  /* Negative value of #navigation's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  /* height: 3.8em; The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */ }

.with-navigation.with-preface {
  #content, .region-sidebar-first, .region-sidebar-second {
    margin-top: 0em;
    /* Set this to the same value as the navigation height above. */ } }

#navigation .section {}

#navbar-wrapper {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  .NavbarRight .block {
    padding-right: 10px; } }

#navigation {
  ul {
    margin: 0;
    padding: 0;
    text-align: left;
    /* LTR */ }
  li {
    float: left;
    /* LTR */
    padding: 0 10px 0 0;
    /* LTR */ } }

/* Navigation Bar + Navbar Right
-------------------------------------------------------------- */

#navbar-wrapper {
  .column {
    &.NavbarLeft {
      float: left; }
    &.NavbarRight {
      text-align: right;
      float: right;
      .block {
        float: right; } } }
  &.nbl1.nbr1 .NavbarLeft, &.nbl2.nbr1 .NavbarLeft, &.nbl3.nbr1 .NavbarLeft, &.nbl4.nbr1 .NavbarLeft, &.nbl1.nbr2 .NavbarLeft, &.nbl2.nbr2 .NavbarLeft, &.nbl3.nbr2 .NavbarLeft, &.nbl4.nbr2 .NavbarLeft {
    width: 75%; }
  &.nbl1.nbr1 .NavbarRight, &.nbl2.nbr1 .NavbarRight, &.nbl3.nbr1 .NavbarRight, &.nbl4.nbr1 .NavbarRight, &.nbl1.nbr2 .NavbarRight, &.nbl2.nbr2 .NavbarRight, &.nbl3.nbr2 .NavbarRight, &.nbl4.nbr2 .NavbarRight {
    width: 25%; }
  &.nbl1.nbr0 .column, &.nbl2.nbr0 .column, &.nbl3.nbr0 .column, &.nbl4.nbr0 .column {
    width: 100%; }
  .block {
    padding-left: 0px;
    margin-bottom: 0; }
  #nav, #search {
    padding-left: 0;
    padding-right: 0px; }
  #search-box {
    padding: 0 10px 0 0;
    margin: 0; } }

/*
 * First sidebar
 */

.region-sidebar-first {
  float: left;
  /* LTR */
  width: 240px;
  margin-left: 0;
  /* LTR */
  margin-right: -240px;
  /* LTR */
  /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
  .section {
    margin: 10px;
    padding: 0; } }

/*
 * Second sidebar
 */

.region-sidebar-second {
  float: left;
  /* LTR */
  width: 240px;
  margin-left: 720px;
  /* LTR */
  /* Width of content + sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
  .section {
    margin: 10px;
    /* LTR */
    padding: 0; } }

/*
 * Footer
 */

#footer .section, .region-page-closure {}

/*
 * Closure
 */

/*
 * Prevent overflowing content
 */

.region-sidebar-first, .region-sidebar-second, #footer, .region-page-closure {
  overflow: hidden;
  word-wrap: break-word;
  /* A very nice CSS3 property */ }

#content {
  overflow: visible; }

#header, #navigation {
  overflow: visible;
  /* May need to be removed if using a dynamic drop-down menu */ }

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

/* Topbar first + Topbar last regions */

#topbar-wrapper {
  font-size: 90%;
  line-height: 2em;
  border-top: 4px solid #000000;
  .column {
    float: left; }
  &.tb1 .column {
    width: 100%; }
  &.tb2 .column {
    width: 50%; }
  .column {
    &.TopbarRight {
      text-align: right;
      float: right;
      .menu {
        text-align: right; } }
    &.TopbarLeft .block {
      float: left;
      display: inline; } } }

#topbar {
  .block {
    padding: 0px 10px 0 10px;
    margin-bottom: 0; }
  .form-item {
    display: inline;
    margin-right: 0.5em;
    label {
      display: inline; } }
  #user-login-form .item-list {
    display: none; } }

/*
 * Topbar Navigation
 */

#topbar-wrapper {
  h2.title {
    display: none; }
  ul {
    padding: 0;
    margin: 0; }
  li {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0; }
  ul.menu li, .block-menu .content {} }

#topbar .block {
  padding-left: 15px;
  padding-right: 15px; }

/* Feature */

#feature-wrapper {
  padding-top: 0px;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%;
    float: none; }
  &.in2 .column {
    width: 50%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; } }

/* Header Left + Header Right
-------------------------------------------------------------- */

#headercontent-inner {
  padding-right: 0; }

#headercontent-wrapper {
  position: relative;
  .column {
    &.HeaderLeft {
      float: left; }
    &.HeaderRight {
      text-align: right;
      float: right; } }
  &.hf1 .column.HeaderLeft, &.hf2 .column.HeaderLeft, &.hf3 .column.HeaderLeft, &.hf4 .column.HeaderLeft {
    width: 75%; }
  &.hf1.hs1 .column.HeaderRight, &.hf2.hs1 .column.HeaderRight, &.hf3.hs1 .column.HeaderRight, &.hf4.hs1 .column.HeaderRight {
    width: 25%; }
  &.hf1.hs0 .column, &.hf2.hs0 .column, &.hf3.hs0 .column, &.hf4.hs0 .column {
    width: 100%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; }
  .HeaderLeft {
    padding-top: 15px;
    padding-bottom: 15px; }
  &.hf0.HeaderLeft {
    padding: 0; } }

/* Breadcrumb */

.breadcrumb {
  padding-top: 0.2em;
  padding-left: 10px;
  padding-right: 10px; }

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */

#preface-wrapper {
  padding-top: 10px;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%;
    float: none; }
  &.in2 .column {
    width: 50%; }
  &.in3 .column {
    width: 33.3%; }
  &.in4 .column {
    width: 25%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; } }

/*
 * Content Top
 */

.no-sidebars #content-top-wrapper, .sidebar-first #content-top-wrapper, .sidebar-second #content-top-wrapper, .two-sidebars #content-top-wrapper {
  width: 100%;
  margin-left: 0; }

/* Content Top 1 + Content Top 2
-------------------------------------------------------------- */

#content #content-top-wrapper .section {
  margin: 0; }

#content-top-wrapper {
  margin: 0 auto;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%; }
  &.in2 .column {
    width: 50%; }
  .block {}
  &.in2 .column {
    &.ContentTop2 .block {
      padding-right: 0px; }
    &.ContentTop1 .block {
      padding-left: 0px; } } }

/*
 * Content Bottom
 */

.no-sidebars #content-bottom-wrapper, .sidebar-first #content-bottom-wrapper, .sidebar-second #content-bottom-wrapper, .two-sidebars #content-bottom-wrapper {
  width: 100%;
  margin-left: 0; }

/* Content Bottom 1 + Content Bottom 2
-------------------------------------------------------------- */

#content #content-bottom-wrapper .section {
  margin: 0; }

#content-bottom-wrapper {
  margin: 0 auto;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%; }
  &.in2 .column {
    width: 50%; }
  .block {} }

/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */

#mainbottom-wrapper {
  padding-bottom: 15px;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%; }
  &.in2 .column {
    width: 50%; }
  &.in3 .column {
    width: 33.3%; }
  &.in4 .column {
    width: 25%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; } }

/* Bottom */

#bottom .section {}

/* Bottom first + Bottom second + Bottom third +  Bottom fourth +  Bottom fifth +  Bottom sixth regions
-------------------------------------------------------------- */

#bottomcontent-wrapper {
  .column {
    float: left; }
  &.in1 .column {
    width: 100%; }
  &.in2 .column {
    width: 50%; }
  &.in3 .column {
    width: 33.3%; }
  &.in4 .column {
    width: 25%; }
  &.in5 .column {
    width: 20%; }
  &.in6 .column {
    width: 16.66%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; } }

/*
 * Footer Content
 */

.with-sidebar-footer #footer-content {
  margin-left: 300px;
  margin-right: -960px;
  padding-left: 0px;
  width: 650px; }

#footer-content {
  margin-top: 0px;
  float: left;
  margin-left: 0;
  margin-right: -960px;
  padding: 0;
  width: 960px;
  .section {
    margin: 0px 0 0 0;
    padding: 0; } }

#footer-wrapper {
  position: relative; }

#footer {
  padding-bottom: 1em; }

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */

.with-sidebar-footer #footer-preface-wrapper {
  margin: 0; }

#footer-preface-wrapper {
  margin: 0;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%;
    float: none; }
  &.in2 .column {
    width: 50%; }
  &.in3 .column {
    width: 33.3%; }
  &.in4 .column {
    width: 24.6%; }
  .block {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0; } }

#footer-content-bottom-wrapper {
  &.with-footer-preface .block {
    border-top: 1px solid #ccc; }
  margin: 10px 0 0 0;
  .column {
    float: left; }
  &.in1 .column {
    width: 100%; }
  .block {
    padding-left: 10px;
    padding-right: 10px; } }

/* Footer Bottom 1 + Footer Bottom 2
-------------------------------------------------------------- */

/*
 * First sidebar footer
 */

.SidebarFooter {
  background: none repeat-y scroll right top transparent;
  border-right: 0 solid #111111;
  background: none repeat-y scroll right top transparent;
  border-right: 0 solid #2B2B2B;
  float: left;
  height: 80%;
  margin: 15px -650px 15px 0;
  padding: 0 0 0 20px;
  width: 280px;
  .footersidebar {
    margin: 0;
    padding: 0;
    .block {
      margin-bottom: 0; }
    .section {
      margin: 0;
      z-index: 99; } } }

.footersidebar #secondary-menu {
  margin: 0;
  z-index: 99; }
