/* $Id: print.css,v 1.8.2.1 2010/06/26 15:36:04 johnalbin Exp $ */

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/* underline all links */

a {
  &:link, &:visited {
    text-decoration: underline !important; } }

/* Don't underline header */

#site-name a {
  &:link, &:visited {
    text-decoration: none !important; } }

/* CSS2 selector to add visible href after links */

#content {
  a {
    &:link:after, &:visited:after {
      content: " (" attr(href) ") ";
      font-size: 0.8em;
      font-weight: normal; } }
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  .section {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important; } }

/* Un-float the content */

/* Turn off any background colors or images */

body, #page-wrapper, #page, #main-wrapper, #main {
  color: #000;
  background-color: transparent !important;
  background-image: none !important; }

#content {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
  .section {
    color: #000;
    background-color: transparent !important;
    background-image: none !important; } }

/* Hide sidebars and nav elements */

#skip-link, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .breadcrumb, div.tabs, .links, .taxonomy, .book-navigation, .forum-topic-navigation, .pager, .feed-icons {
  visibility: hidden;
  display: none; }

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */

#page-wrapper {
  overflow-y: visible; }
