/* $Id: jcarousel-default.css,v 1.1.2.1 2010/11/26 22:04:31 quicksketch Exp $ */

/**
 * A simple sample carousel skin.
 *
 * This skin includes a sample arrows.svg file that may be edited with the free
 * illustration application InkScape (http://inkscape.org).
 *
 * CSS and icons by Nathan Haug.
 */

.jcarousel-container-horizontal {
  width: 440px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}

.jcarouselwide .jcarousel-container-horizontal {
  width: 880px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
}


 .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
  margin: auto;
}

 .jcarousel-clip-horizontal {
  width: 440px;
}

.jcarouselwide .jcarousel-clip-horizontal {
  width: 880px;
}

 .jcarousel-clip-vertical {
  height: 440px;
}

 .jcarousel-item {
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
}

 .jcarousel-item-horizontal {
  margin: 0 4px;
}

 .jcarousel-item-vertical {
  margin: 4px 0;
}

 .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
 .jcarousel-next,
 .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/arrows.png);
}

/**
 *  Horizontal Buttons
 */
 .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}
 .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
 .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
 .jcarousel-prev-disabled-horizontal,
 .jcarousel-prev-disabled-horizontal:hover,
 .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}

 .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}
 .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
 .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}
 .jcarousel-next-disabled-horizontal,
 .jcarousel-next-disabled-horizontal:hover,
 .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px -32px;
}

/**
 *  Vertical Buttons
 */
 .jcarousel-prev-vertical {
  position: absolute;
  top: 10px;
  left: 55px;
  background-position: 0 -64px;
}
 .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
 .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
 .jcarousel-prev-disabled-vertical,
 .jcarousel-prev-disabled-vertical:hover,
 .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

 .jcarousel-next-vertical {
  position: absolute;
  bottom: 10px;
  left: 55px;
  background-position: 0 -96px;
}
 .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
 .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
 .jcarousel-next-disabled-vertical,
 .jcarousel-next-disabled-vertical:hover,
 .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}
