/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* font-family: Century Gothic, Helvetica, Arial, "Nimbus Sans L", sans-serif; */
}

#footer {
  /* font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif; */
}


#sitecontent {
margin-left:auto;
margin-right:auto;
width:960px;
}

#sitelogo {
width: 960px;
text-align: center;
}

#header-site-info-inner  {
vertical-align: bottom;
display: block;
margin-bottom: 0;
padding-bottom: 0;
}

#sitelogo a img{ 
margin-left: auto;
margin-right: auto; 
}

#logo {
float: none;
margin: 0;
border: 0;

}

#logo img {
}

#name-and-slogan {
display: none;
}

#hr {
height: 2px;
width: 50%;
border-top: 2px solid #336686;
margin-left: auto;
margin-right: auto; 
margin-top: 15px;
margin-bottom: 15px;
}

.node {
}

/**
 * @file
 * Page Background Styling
 */

body {
}

body.front, body.not-front {
background: none repeat scroll 0 0 #571605;
}

#page-wrapper {
background: url(../images/pageshadow.png) repeat-y top center transparent;
}

#page {
}

#topbar-wrapper {
}

#topbar-wrapper .section{ 
/* background: url(../images/topbarbg.png) repeat-x 0 0 #7396AC; */
}

#topbar {
background: #336686;
}

#topbar .form-item label {
display:none;
}

#navigation {
background:none repeat scroll 0 0 transparent;
}

#navigation .section {
background: #1C536f;
}

#sitecontent-wrapper {
}

#sitecontent{
background: none repeat scroll 0 0 #fff;
}

#feature {
background: transparent;
}

#feature .section {
/* background: url(../images/ivfeatured.jpg) no-repeat 0 -1px #e6e6e6; */
/* height: 217px; */ 
background: #e6e6e6;
}

#preface-wrapper {
background:none repeat scroll 0 0 transparent;
}

#main-wrapper {
background: none repeat scroll 0 0 transparent;
}

#main {
background: none repeat scroll 0 0 transparent;
}

#header {
background: none repeat scroll 0 0 transparent; /* for non-css3 browsers */
}

#topbar-wrapper {
}


#header .section { 
}

#headercontent-wrapper-bg {
/* background: url(../images/headerbg.jpg) repeat-x top center #e1e1e1; */
background: #c9c9c9;
}

#headercontent-wrapper {
background: url(../images/pageshadow.png) repeat-y top center transparent;
}

#headercontent-wrapper .section {
height: 150px; /* be sure to override this in your theme.css */
/* background: url(../images/headercontentbg.jpg) repeat-x top center #e1e1e1; */
background:  #fdfdfd; 
}


#bottom {
/* background: url(../images/footerbg.png) repeat-x bottom left #1c536f; */
color: #fff;
background: #1C536f;
}

#bottom .section {

}


#footer {
/* background: url(../images/footermic.png) no-repeat bottom right transparent; */

}

#footer .section {
}

#footer-content-bottom-wrapper .section {
}


#footer p {
padding: 0;
margin: 0;
}

/* text colors */

#sitecontent-wrapper h2, h3 {
color: #1c536f;
}

#body {
}

#feature {
}

#topbar {
}

header {
}

#navigation{
}

#navbar-wrapper {
background-color:transparent;
}

#preface-wrapper{
}

#bottom {
color:#FFFFFF;
}

#closure-wrapper {
}

#closure {
border: 0px;
background-image: none;
color: #ccc;
}

/* Link Colors */

.footersidebar a {
text-decoration: underline;
}

#footer a:link {
color: #fff;
}

#footer a:visited {
color: #fff;
}

#footer a:hover,
#footer a:focus {
color: #fff;
}

#footer a:active {
color: #fff;
}

#footer li a.active,  {
color: #fff;
}

#header a:link {
color: #FFF
}

#header a:visited {
color: #FFF
}

#header a:hover,
#header a:focus {
color: #fff
}

#header a:active {
color: #fff
}

#header li  a.active,  {
color: #fff
}

#headercontent-wrapper a:link {
color: #000
}

#headercontent-wrapper a:visited {
color: #000
}

#headercontent-wrapper a:hover,
#headercontent-wrapper a:focus {
color: #000
}

#headercontent-wrapper a:active {
color: #000
}

#headercontent-wrapper li  a.active,  {
color: #000
}

a:link {
color: #336686
}

a:visited {
color: #336686
}

a:hover,
a:focus {
color: #336686
}

a:active {
color: #336686
}

/* blocks */

#preface-wrapper .block h2.title {
/* background: url(../images/h2bullet.png) no-repeat 0 0.86em; */
/* padding-left: 1.2em; */ 
/* color: #336686; */
}

#mainbottom-wrapper .block h2.title, #content-top-wrapper h2, .region-content-top h2.title, .region-content-bottom .block h2.title, #content-bottom-wrapper .block h2.title {
/* background: url(../images/h2bullet-small.png) no-repeat 0 0.9199em; */
/* padding-left: 1em; */
/* color: #255720; */
}

#navigation {
height: 32px;
}

#navbar-wrapper {
margin-left:0px;
margin-right:0px;
}

#header #superfish ul li {
border-right:1px solid #346B96;
}

#header #superfish ul li.last {
border-right:1px solid #346B96;
}

#topbar-wrapper .column.TopbarRight .block {
float:right;
}

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */

#preface-wrapper {
padding-top: 15px;
}

#preface-wrapper .column {
float: left;
}

#preface-wrapper.in1 .column {
width: 100%;
float: none;
}

#preface-wrapper.in2 .column {
width: 50%;
}

#preface-wrapper.in4 .column {
width: 25%;
}

#preface-wrapper .block {
padding-left:30px;
padding-right:30px;
}

/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */

#mainbottom-wrapper {
padding-bottom: 15px;
}

#mainbottom-wrapper .column {
float: left;
}

#mainbottom-wrapper.in1 .column {
width: 100%;
}

#mainbottom-wrapper.in2 .column {
width: 50%;
}

#mainbottom-wrapper.in3 .column {
width: 33.3%;
}

#mainbottom-wrapper.in4 .column {
width: 25%;
}

#mainbottom-wrapper .block {
padding-left:30px;
padding-right:30px;
}



/* Search Block */

#islandora-solr-simple-search-form .form-item {
margin: 0px;
float: left;
}
  
#islandora-solr-simple-search-form .form-item label,
#search-box .form-item label,
#search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#islandora-solr-simple-search-form .form-item input, 
#search-box .form-item input,
#search-block-form .form-item input  {
  margin: 1px 5px 0 0;
  width: 180px;
  border: 1px solid #2E5067;
  display: inline;
  float: left;
  height: 17px;
  font-size: 11.5pt;
}

#islandora-solr-simple-search-form input.form-submit, 
#search-form input.form-submit, 
#search-box input.form-submit,
#search-block-form input.form-submit {
height: 24px;
width: 24px;
cursor: pointer;
text-indent: -9999px;
border: none;
background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top; /* color options are greenblue brown */
display: inline;
float: left;
clear: right;
}
  
#islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#search-form  .block-search .form-item  textarea:focus, 
#search-form  .block-search .form-item  textarea:focus input:focus,
#search-block-form .block-search .form-item  textarea:focus,
#search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #2E5067;
}

#islandora-solr-simple-search-form label, #search-form label {
    display: none;
}


