/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif !important;
  
}

#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6 {
    color: #EFEFEF;
}


#feature .block h2.title, .region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3, #mainbottom-wrapper .block h2.title, #preface-wrapper .block h2.title, .region-content-top .block h2.title, #content-top-wrapper .block h2.title, .region-content-bottom .block h2.title, #content-bottom-wrapper .block h2.title {
    padding: 8px 8px;
}

#sitelogo a img {
height: 100%
}

#sitecontent {
margin-left:auto;
margin-right:auto;
width:960px;
}

#feature .section {
margin-left:auto;
margin-right:auto;
width:960px;
}

#sitelogo {
text-align: center;
}

#header-site-info-inner  {
vertical-align: bottom;
margin-bottom: 0;
padding-bottom: 0;
height: 153px;
}

#header {
border-top: 0;
}

#topbar-wrapper { 
border-top: 0;
}

#sitelogo a img{ 
margin-left: auto;
margin-right: auto; 
}

#logo {
float: none;
margin: 0;
border: 0;
padding: 0;
}

#logo img {
}

#name-and-slogan {
display: none;
}

#hr {
height: 2px;
width: 50%;
border-top: 2px solid #336686;
margin-left: auto;
margin-right: auto; 
margin-top: 15px;
margin-bottom: 15px;
}

.node {
}

/**
 * @file
 * Page Background Styling
 */

body {
}

body.front, body.not-front {
background: none repeat scroll 0 0 #571605;
}

#page-wrapper {
background: url(../images/pageshadow.png) repeat-y top center transparent;
}

#page {
}

.with-sitename-slogan #logo {
    border-right: 0px dotted #DEDEDF;
}

#topbar-wrapper {
}

#topbar-wrapper .section{ 
/* background: url(../images/topbarbg.png) repeat-x 0 0 #7396AC; */
}

#topbar {
background: #336686;
}

#topbar .form-item label {
display:none;
}

#navigation {
background:none repeat scroll 0 0 transparent;
}

#navigation .section {
background: #1C536f;
}

#headercontent-wrapper .HeaderLeft {
padding-bottom:0px;
padding-top:0px;
}

#sitelogo a img {
}

#headercontent-inner, 
#headercontent-wrapper .section,
 {
height: 152px;
width: 960px;
overflow: hidden;
}

#sitelogo a img {
}

#sitecontent-wrapper {
}

#sitecontent{
background: none repeat scroll 0 0 #fff;
}

#feature {
background: transparent;
}

#feature .section {
/* background: url(../images/ivfeatured.jpg) no-repeat 0 -1px #e6e6e6; */
/* height: 217px; */ 
background: #e6e6e6;
}

#preface-wrapper {
background:none repeat scroll 0 0 transparent;
}

#main-wrapper {
background: none repeat scroll 0 0 transparent;
}

#main {
background: none repeat scroll 0 0 transparent;
}

#header {
background: none repeat scroll 0 0 transparent; /* for non-css3 browsers */
}

#topbar-wrapper {
}


#header .section { 

}

#headercontent-wrapper-bg {
/* background: url(../images/headerbg.jpg) repeat-x top center #e1e1e1; */
background: #c9c9c9;
}

#headercontent-wrapper {
background: url(../images/pageshadow.png) repeat-y top center transparent;
}

#headercontent-wrapper .section {
/* background: url(../images/headercontentbg.jpg) repeat-x top center #e1e1e1; */
background:  #fdfdfd; 
}

#headercontent-inner,  {

}

#bottomcontent-wrapper .block {
    padding-left: 20px;
    padding-right: 20px;
}

#bottom {
/* background: url(../images/footerbg.png) repeat-x bottom left #1c536f; */
color: #fff;
background: #1C536f;
}

#bottom .section {
    padding-top: 10px;
}

#footer {
/* background: url(../images/footermic.png) no-repeat bottom right transparent; */

}

#footer .section {
}

#footer-content-bottom-wrapper .section {
}


#footer p {
padding: 0;
margin: 0;
}

/* text colors */

#sitecontent-wrapper h2, h3 {
color: #1c536f;
}

#body {
}

#feature {
}

#topbar {
}

header {
}

#navigation{
}

#navbar-wrapper {
background-color:transparent;
}

#preface-wrapper{
}

#bottom {
color:#f2f3f4;
}

#closure-wrapper {
}

#closure {
border: 0px;
background-image: none;
color: #ccc;
}

/* Link Colors */

.footersidebar a {
text-decoration: underline;
}

#bottom a:link {
color: #ccc
}

#bottom a:visited {
color: #ccc
}

#bottom a:hover,
#bottom a:focus {
color: #fff
}

#bottom a:active {
color: #fff
}

#bottom li  a.active,  {
color: #fff
}

#closure a:link {
color: #efefef
}

#closure a:visited {
color: #efefef
}

#closure a:hover,
#closure a:focus {
color: #efefef
}

#closure a:active {
color: #efefef
}

#closure li  a.active,  {
color: #efefef
}


#footer a:link {
color: #ccc
}

#footer a:visited {
color: #ccc
}

#footer a:hover,
#footer a:focus {
color: #fff
}

#footer a:active {
color: #fff
}

#footer li  a.active,  {
color: #fff
}

#header a:link {
color: #FFF
}

#header a:visited {
color: #FFF
}

#header a:hover,
#header a:focus {
color: #fff
}

#header a:active {
color: #fff
}

#header li  a.active,  {
color: #fff
}

#headercontent-wrapper a:link {
color: #000
}

#headercontent-wrapper a:visited {
color: #000
}

#headercontent-wrapper a:hover,
#headercontent-wrapper a:focus {
color: #000
}

#headercontent-wrapper a:active {
color: #000
}

#headercontent-wrapper li  a.active,  {
color: #000
}

a:link {
color: #336686
}

a:visited {
color: #336686
}

a:hover,
a:focus {
color: #336686
}

a:active {
color: #336686
}

/* blocks */

#navigation {
height: 30px;
}

#navbar-wrapper {
margin-left:0px;
margin-right:0px;
}

#header #superfish ul li {
border-right:1px solid #346B96;
}

#topbar-wrapper .column.TopbarRight .block {
float:right;
}

.region-sidebar-first .section {
padding: 5px 15px 10px 15px;       
}

.region-sidebar-second .section {
padding: 5px 15px 10px 15px;      
}

.one-sidebar.sidebar-first #content .section {
    padding-right: 15px;
    padding-top: 10px;    
}

.one-sidebar.sidebar-second #content .section {
    padding-left: 15px;
    padding-top: 10px;
}

.no-sidebars #content .section {
padding: 10px 15px 10px 15px;
}

/* Feature regions
-------------------------------------------------------------- */

#preface-wrapper .block {
padding-left:15px;
padding-right:15px;
}

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */

#preface-wrapper .block {
padding-left:15px;
padding-right:15px;
}

/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */

#mainbottom-wrapper .block {
padding-left:15px;
padding-right:15px;
}

/* superfish styling */

#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
top:27px;
}

#nav li a, #superfish li a{
font-weight:normal;
text-transform:none;
}

#nav .menu a, #nav .menu a:visited, 
#superfish .menu a, 
#superfish .menu a:visited {
   padding: 9px 1em 9px 1em;
}

#superfish .menu li li {
top: -3px;
}

#superfish .menu li li li {
top: -1px;
}

#superfish .menu li, #nav .menu li {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0px;  
}

a > .sf-sub-indicator {
    background-position: 0 100px;
    top: 0.8em;
}

a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 100px;
}

#nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
    padding-left: 2em;
    padding-right: 2em;
}

#superfish .menu a.sf-with-ul,
#superfish .menu a {
    min-width: 1px;
    padding-left: 2em;
    padding-right: 2em;
}



/* Search Block */

#header #google-cse-searchbox-form .form-item,
#header #islandora-solr-simple-search-form .form-item {
margin: 0px;
float: left;
}
  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  margin: 0px 0px 0 0;
  width: 200px;
  display: inline;
  height: 17px;
  font-size: 9.5pt;
  color: #CCC;
  -moz-border-radius: 3px;
  border-top-right: 3px;
  -moz-border-radius: 3px;
  border-top-left: 3px;
  padding-right: 20px;
   padding-left: 5px;
  border: 1px solid #888;
  background: #fff url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #fff url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
color: #336686;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#fff url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
border:1px solid #000;
color:#333333;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}


#header #google-cse-searchbox-form  input.form-submit, 
#header #islandora-solr-simple-search-form input.form-submit, 
#header #search-form input.form-submit, 
#header #search-box input.form-submit,
#header #search-block-form input.form-submit {
height: 21px;
width: 21px;
cursor: pointer;
text-indent: -9999px;
border: none;
background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top;  */
display: none;
clear: right;
}
  
#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 0px solid #2E5067;
}

#header #google-cse-searchbox-form label,
#header #islandora-solr-simple-search-form label, #search-form label {
    display: none;
}
