/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\000033}}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */
  font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000330}}
#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6 {
  color: #EFEFEF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000333}}
#feature .block h2.title, .region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3, #mainbottom-wrapper .block h2.title, #preface-wrapper .block h2.title, .region-content-top .block h2.title, #content-top-wrapper .block h2.title, .region-content-bottom .block h2.title, #content-bottom-wrapper .block h2.title {
  padding: 8px 0 8px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000336}}
#feature .block {
  padding: 15px 25px 15px 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000341}}
#sitecontent, #feature .section {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000346}}
#sitelogo {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000349}}
#header-site-info-inner {
  vertical-align: bottom;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 153px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000355}}
#header, #topbar-wrapper {
  border-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000358}}
#sitelogo a img {
  margin-left: auto;
  margin-right: auto;
  max-height: 153px;
  /* sets max-height value for all standards-compliant browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000364}}
* html #sitelogo a img {
  height: expression(this.scrollHeight > 152 ? "153px" : "auto" );
  /* sets max-height for IE */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000368}}
#logo {
  float: none;
  margin: 0;
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000375}}
#name-and-slogan {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000378}}
#hr {
  height: 2px;
  width: 50%;
  border-top: 2px solid #336686;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/**
 * @file
 * Page Background Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000395}}
body.front, body.not-front {
  background: none repeat scroll 0 0 #571605;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\0000398}}
#page-wrapper {
  background: url(../images/pageshadow.png) repeat-y top center transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003103}}
.with-sitename-slogan #logo {
  border-right: 0px dotted #DEDEDF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003106}}
#topbar-wrapper .section {
  /* background: url(../images/topbarbg.png) repeat-x 0 0 #7396AC; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003109}}
#topbar {
  background: #336686;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003111}}
#topbar .form-item label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003114}}
#navigation {
  background: none repeat scroll 0 0 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003116}}
#navigation .section {
  background: #1C536f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003119}}
#headercontent-wrapper .HeaderLeft {
  padding-bottom: 0px;
  padding-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003125}}
#headercontent-inner, #headercontent-wrapper .section {
  height: 152px;
  width: 960px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003132}}
#sitecontent {
  background: none repeat scroll 0 0 #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003135}}
#feature .section {
  background: url("../images/btmdropshdw.png") repeat-x scroll 0 -1px #cccccc;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003139}}
#preface-wrapper, #main-wrapper, #main {
  background: none repeat scroll 0 0 transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003142}}
#header {
  background: none repeat scroll 0 0 transparent;
  /* for non-css3 browsers */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003148}}
#headercontent-wrapper-bg {
  /* background: url(../images/headerbg.jpg) repeat-x top center #e1e1e1; */
  background: #c9c9c9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003152}}
#headercontent-wrapper {
  background: url(../images/pageshadow.png) repeat-y top center transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003154}}
#headercontent-wrapper .section {
  /* background: url(../images/headercontentbg.jpg) repeat-x top center #e1e1e1; */
  background: #fdfdfd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003160}}
#bottomcontent-wrapper .block {
  padding-left: 20px;
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003164}}
#bottom {
  /* background: url(../images/footerbg.png) repeat-x bottom left #1c536f; */
  color: #fff;
  background: #1C536f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003168}}
#bottom .section {
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003171}}
#footer {
  /* background: url(../images/footermic.png) no-repeat bottom right transparent; */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003177}}
#footer p {
  padding: 0;
  margin: 0;
}

/* text colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003183}}
#sitecontent-wrapper h2, h3 {
  color: #1c536f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003188}}
#navbar-wrapper {
  background-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003193}}
#bottom {
  color: #f2f3f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003198}}
#closure {
  border: 0px;
  background-image: none;
  color: #ccc;
}

/* Link Colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003205}}
.footersidebar a {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003210}}
#bottom a:link, #bottom a:visited {
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003212}}
#bottom a:hover, #bottom a:focus, #bottom a:active {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003214}}
#bottom li a.active {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003219}}
#closure a:link, #closure a:visited, #closure a:hover, #closure a:focus, #closure a:active {
  color: #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003221}}
#closure li a.active {
  color: #efefef;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003226}}
#footer a:link, #footer a:visited {
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003228}}
#footer a:hover, #footer a:focus, #footer a:active {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003230}}
#footer li a.active {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003235}}
#header a:link, #header a:visited {
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003237}}
#header a:hover, #header a:focus, #header a:active {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003239}}
#header li a.active {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003244}}
#headercontent-wrapper a:link, #headercontent-wrapper a:visited, #headercontent-wrapper a:hover, #headercontent-wrapper a:focus, #headercontent-wrapper a:active {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003246}}
#headercontent-wrapper li a.active {
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003250}}
a:link, a:visited, a:hover, a:focus, a:active {
  color: #336686;
}

/* blocks */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003255}}
#navigation {
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003258}}
#navbar-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003262}}
#topbar-wrapper .column.TopbarRight .block {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003265}}
.region-sidebar-first .section, .region-sidebar-second .section {
  padding: 5px 15px 10px 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003269}}
.one-sidebar.sidebar-first #content .section {
  padding-right: 15px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003272}}
.one-sidebar.sidebar-second #content .section {
  padding-left: 15px;
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003276}}
.no-sidebars #content .section {
  padding: 10px 15px 10px 15px;
}

/* Feature regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003282}}
#preface-wrapper .block {
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Preface first + Preface second + Preface third +  Preface fourth regions
-------------------------------------------------------------- */
/* Bottom first + Bottom second + Bottom third +  Bottom fourth regions
-------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003294}}
#mainbottom-wrapper .block {
  padding-left: 15px;
  padding-right: 15px;
}

/* superfish styling */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003302}}
#nav ul.menu li.active-trail, #nav ul.menu li:hover {
  background: none repeat scroll 0 0 #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003305}}
#nav .menu li li:hover, #nav .menu li li li:hover {
  background: none repeat scroll 0 0 #193241;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003310}}
#superfish ul.menu li.active-trail, #superfish ul.menu li:hover {
  background: none repeat scroll 0 0 #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003313}}
#superfish .menu li li:hover, #superfish .menu li li li:hover {
  background: none repeat scroll 0 0 #193241;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003318}}
#header #navigation li a.active, #header #navigation li a:visited .active, #header #navigation li a:hover {
  background: none repeat scroll 0 0 #193241 !important;
  color: #FFFFFF !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003322}}
#header #navigation li li a:hover, #header #navigation li li li a:hover {
  background: none repeat scroll 0 0 #193241 !important;
  color: #FFFFFF !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003326}}
#nav ul.menu li:hover a {
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003330}}
#superfish ul.menu li:hover a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003332}}
#superfish .menu li li {
  background-color: #1C536F;
  border-bottom: 1px solid #193241;
  border-left: 1px solid #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003334}}
#superfish .menu li li.first {
  border-top: 1px solid #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003336}}
#superfish .menu li li li {
  border-bottom: 1px solid #193241;
  border-left: 1px solid #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003337}}
#superfish .menu li li li.first {
  border-top: 1px solid #193241;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003344}}
#nav li {
  border-right: 1px solid #193241;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003348}}
#superfish li {
  border-right: 1px solid #193241;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003351}}
#superfish .menu li:hover ul, #superfish .menu li.sfHover ul {
  top: 27px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003354}}
#nav li a, #superfish li a {
  font-weight: normal;
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003358}}
#nav .menu a {
  padding: 7px 1em 7px 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003360}}
#nav .menu a:visited {
  padding: 7px 1em 7px 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003364}}
#superfish .menu a {
  padding: 7px 1em 7px 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003366}}
#superfish .menu a:visited {
  padding: 7px 1em 7px 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003368}}
#superfish .menu li {
  background: none repeat scroll 0 0 transparent;
  margin-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003369}}
#superfish .menu li li {
  top: -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003371}}
#superfish .menu li li li {
  top: -1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003376}}
#nav .menu li {
  background: none repeat scroll 0 0 transparent;
  margin-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003381}}
a > .sf-sub-indicator {
  background-position: 0 100px;
  top: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003384}}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003388}}
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003391}}
#nav .menu a {
  padding-left: 2em;
  padding-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003394}}
#nav .menu a:visited {
  padding-left: 2em;
  padding-right: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003398}}
#superfish .menu a {
  padding-left: 2em;
  padding-right: 2em;
  min-width: 1px;
  padding-left: 2em;
  padding-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003401}}
#superfish .menu a:visited {
  padding-left: 2em;
  padding-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003404}}
#superfish .menu a.sf-with-ul {
  min-width: 1px;
  padding-left: 2em;
  padding-right: 2em;
}

/* Search Block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003415}}
#header #google-cse-searchbox-form .form-item, #header #islandora-solr-simple-search-form .form-item {
  margin: 0px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003418}}
#header .block-fedora_ilives.form-item label, #header #google-cse-searchbox-form .form-item label, #header #islandora-solr-simple-search-form .form-item label, #header #search-box .form-item label, #header #search-block-form .form-item label {
  color: #fff;
  /* Wrapper for the search form */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003421}}
#header .block-fedora_ilives .form-item input, #header #google-cse-searchbox-form .form-item input, #header #islandora-solr-simple-search-form .form-item input, #header #search-box .form-item input, #header #search-block-form .form-item input {
  margin: 0px 0px 0 0;
  width: 200px;
  display: inline;
  height: 17px;
  font-size: 9.5pt;
  color: #CCC;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-right: 20px;
  padding-left: 5px;
  border: 1px solid #888;
  background: white url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003435}}
#header .block-fedora_ilives .form-item input:hover, #header #google-cse-searchbox-form .form-item input:hover, #header #islandora-solr-simple-search-form .form-item input:hover, #header #search-box .form-item input:hover, #header #search-block-form .form-item input:hover {
  background: white url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003438}}
#header .block-fedora_ilives .form-item input:focus, #header #google-cse-searchbox-form .form-item input:focus, #header #islandora-solr-simple-search-form .form-item input:focus, #header #search-box .form-item input:focus, #header #search-block-form .form-item input:focus {
  -webkit-box-shadow: 0px 0px 3px #73351b;
  box-shadow: 0px 0px 2px #73351b;
  -moz-box-shadow: 0px 0px 3px #73351b;
  background: white url(../images/mag_glass/insearch-magglass.png) no-repeat right center;
  border: 1px solid #000;
  color: #333333;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003448}}
#header .block-fedora_ilives input.form-submit, #header #google-cse-searchbox-form input.form-submit, #header #islandora-solr-simple-search-form input.form-submit, #header #search-form input.form-submit, #header #search-box input.form-submit, #header #search-block-form input.form-submit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003450}}
#header .block-fedora_ilives .block-search .form-item textarea:focus, #header #google-cse-searchbox-form .block-search .form-item textarea:focus {
  border: 0px solid #2E5067;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003453}}
#header #islandora-solr-simple-search-form.block-search .form-item textarea:focus, #header #islandora-solr-simple-search-form.block-search .form-item textarea:focus input:focus {
  border: 0px solid #2E5067;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003456}}
#header #search-form.block-search .form-item textarea:focus, #header #search-form.block-search .form-item textarea:focus input:focus {
  border: 0px solid #2E5067;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003458}}
#header #search-block-form .block-search .form-item textarea:focus {
  border: 0px solid #2E5067;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003460}}
#header #search-block-form .block-search .form-item textarea:focus input:focus {
  border: 0px solid #2E5067;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003462}}
#header .block-fedora_ilivesl label, #header #google-cse-searchbox-form label, #header #islandora-solr-simple-search-form label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003465}}
#search-form label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003469}}
.NavbarRight .block-fedora_ilivesl, .NavbarRight #google-cse-searchbox-form, .NavbarRight #islandora-solr-simple-search-form, .NavbarRight #search-form, .NavbarRight #search-block-form {
  padding-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kgbulman\/bulmandropbox\/Dropbox\/drupal-6\.22\/sites\/all\/themes\/vretheme\/designer\/sass\/designer\.scss}line{font-family:\00003471}}
.NavbarRight .form-item {
  margin: 0.3em 0;
}
