/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */


body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif !important;

}

#skip-link,
#page {
  /*
   * To use a 12px font size on the page, delete the 14px declarations.
   * to use a 14px font size on the page, delete the 12px declarations.
   */

  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.5em; /* 12px x 1.5 = 18px */


}



#logo /* Wrapping link for logo */ {
}

#logo img {
height: 50px;
}

/**
 * @file
 * Page Background Styling
 */

body {
color: #545454;
}

body.front, body.not-front {
background: none repeat scroll 0 0 #4e5359;
}

#page-wrapper {
}

#page {
}

#headercontent-wrapper {
}

#header .section .HeaderRight .block{
padding-left: 10px;
padding-right: 10px;
}

#topbar-wrapper {
    font-size: 100%;
    line-height: 2em;
}

#topbar .block {
    margin-bottom: 0.4em;
}

#topbar ul {
    margin: 0 0.4em 0 0.4em;
}

#topbar-wrapper ul.menu li {
    margin: 0 0.4em 0 0.4em;
}

#header .tb1, #header .tb2 {
border-top: 0px solid #000;
}

#topbar-wrapper {
background: none repeat-x bottom left #000; 
border-top: 2px solid #000;
}

#navigation {
background: none repeat-x 0 0 #000; 
border-bottom: 5px solid #6C8BA0;
border-top: 3px solid #000;
}

#navigation .section {
    background-color: transparent;
    line-height: 0.83em;
}

#sitecontent-wrapper {
 border-top: 1px solid #fff;
 background: url(../images/sitecontent-bg.png) repeat-x 0 0 #fff; 
 border-bottom: 1px solid #000;
}

#mainbottom-wrapper {
    background: none repeat scroll 0 0 transparent;
}

#bottom-wrapper {
 border-top: 1px solid #444;
}

#closure-wrapper {
background: url(../images/1pxlight.png)  repeat-x top left #000; 
}

#closure {
border-top: 0px solid #BBBBBB;
}

#feature {
background: none repeat scroll bottom left #6C8BA0;
color: #fff;
}

#feature .section {
background:none repeat scroll 0 0 transparent;
}


#preface-wrapper {
background:none repeat scroll 0 0 transparent;
}

#main-wrapper {

}

#main {
}

#header {
  background: none repeat-x bottom left transparent; 
}

#headercontent-wrapper-bg {
  background: url(../images/1pxlight.png)  repeat-x bottom left transparent; 
}

#headercontent-wrapper {
  background: url(../images/1pxlight.png)  repeat-x top left transparent; 
}

h1#site-name, div#site-name {
}

#name-and-slogan {
  padding: 0;
}

#topbar-wrapper {
}

#header .section {
}

#floater {
}

#logo {
    border-right: 1px solid #686C71;
    margin: 0 0 0 0;
    padding: 0 15px 0 10px;
}

#name-and-slogan {
    padding: 0 10px 0 15px;
}

#sitelogo {
}


#sitecontent{
}

#footer {
}

#footer .section {
}

.with-sidebar-footer #footer-preface-wrapper {
margin:0;
}

#footer-preface-wrapper {
margin:0;
}

#footer-content-bottom-wrapper {
margin:0;
}



#header {
border-top: 2px solid #000;
}

#headercontent-inner {
    padding:  0;
}


#headercontent-wrapper .column.HeaderRight .block .content {
background: #000;
-moz-border-radius-bottomright: 5px 5px;
border-bottom-right-radius: 5px 5px;
-moz-border-radius-bottomleft: 5px 5px;
border-bottom-left-radius: 5px 5px;
float: right;
border-color:#000 #777 #777 #777;
border-style:solid;
border-width:1px;
}

#headercontent-wrapper .column.HeaderRight .block-menu {
    font-size: 90%;
    line-height: 2em;
    margin-bottom: 0;
}

#headercontent-wrapper ul {
    margin: 0;
    padding: 0;
}

#headercontent-wrapper li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
#headercontent-wrapper ul {
    margin: 0 0.4em;
}  

#headercontent-wrapper ul.menu li {
    margin: 0 0.4em;
}

#search {
    padding-right: 10px;
}

#topbar .block {
padding-left:0px;
padding-right:0px;
}

#topbar ul {

}

#topbar #search-box {
margin:0;
padding:0 0 0 15px;
}

/* block bgs */

.region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3 {
background: transparent none repeat scroll 0 0;
border: 0;
}

.region-sidebar-first .block div.content, .region-sidebar-second .block div.content, div.admin-panel .body, .comment  {
background-color:#F4F4F4;
border-color:#efefef #E8E8E9 #E8E8E9 #efefef;
border-style:solid;
border-width:1px;
}

.region-sidebar-first .block .content, .region-sidebar-second .block .content {
margin:0;
padding:2px 15px;
}


/* site padding */

#feature .block {
    padding: 10px;
}

#preface-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

#mainbottom-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

#bottomcontent-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

/* text colors */

#body {
}



#feature {
}

#topbar-wrapper {
}

#topbar {
}

header {
}

#navigation{
}

#navbar-wrapper {
    background-color: transparent;
    }

#preface-wrapper{
}

#bottom {
color:#FFFFFF;
}

/* Link Colors */
a:link {
color: #5c6da3;
}

a:visited {
color: #5c6da3;
}

a:hover,
a:focus {
text-decoration: underline;
}

a:active {
color: #000;
}

li a.active {
color:#000;
}

#header a:link {
color: #FFF
}

#header a:visited {
color: #FFF
}

#header a:hover,
#header a:focus {
color: #fff
}

#header a:active {
color: #fff
}

#header li  a.active,  {
color: #fff
}

#footer a:link {
color: #ade2ff
}

#footer a:visited {
color: #ade2ff
}

#footer a:hover,
#footer a:focus {
color: #fff
}

#footer a:active {
color: #fff
}

#footer li  a.active,  {
color: #fff
}

/* superfish.css */

#nav ul.menu  li.active-trail,
#nav ul.menu  li:hover, 
#nav .menu li li:hover, 
#nav .menu li li li:hover,
#superfish ul.menu  li.active-trail,
#superfish ul.menu  li:hover, 
#superfish .menu li li:hover, 
#superfish .menu li li li:hover {
    background: #6c8ba0;
}

#nav li, #superfish li {
border-right: 0px solid #ccc;
}

#superfish .menu li, #nav .menu li {
    background: none repeat scroll 0 0 transparent;
    margin-right: 5px;
    
}

#superfish .menu li, #nav .menu li {
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;
}

#superfish .menu li li, #nav .menu li li  {
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
border-top-left-radius: 0;
}

a > .sf-sub-indicator {
    background-position: 0 100px;
    top: 0.8em;
}

a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 100px;
}

#nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
    padding-left: 1em;
    padding-right: 1em;
}

#superfish .menu a.sf-with-ul,
#superfish .menu a {
    min-width: 1px;
    padding-left: 1em;
    padding-right: 1em;
}

#header #superfish ul li.last {
border-right:  0px solid #ccc;

}

#navigation #nav, #navigation #superfish { 
border-left: 0px solid #ccc;
}

#superfish .menu li li, #superfish .menu li li li {
background: #85ABC4;
border-bottom:1px solid #143055; 
border-top:1px solid #265B8C;
}

#superfish .menu li li li {
border-left:1px solid #143055; 
border-right:1px solid #143055; 
}

#nav li a, #superfish li a, #nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
color:#fff;
}



