/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif !important;
  
}

h1, h2, h3, h4, h5, h6 {
    color: #343434;
    font-weight: bold;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #fff;
}

#feature h1, #feature h2, #feature h3, #feature h4, #feature h5, #feature h6 {
    color: #fff;
}

#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6 {
    color: #EFEFEF;
}

#name-and-slogan {
font-family: Garamond, Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

#site-slogan { 
font-size: 130%;
text-transform: normal;
}

.region-sidebar-first .block h2.title, 
.region-sidebar-second  .block h2.title {
padding:0px 10px 0px 10px;
}

#logo /* Wrapping link for logo */ {
}

#logo img {

}

/**
 * @file
 * Page Background Styling
 */

body {
}

body.front, body.not-front {
background: #4E5359 none repeat scroll 0 0 ;
}

#page-wrapper {
}

#page {
}

#headercontent-wrapper {
}

#header .section .HeaderRight .block{
padding-left: 10px;
padding-right: 10px;
}

#topbar-wrapper {
    font-size: 90%;
    line-height: 1.3em;
}

#topbar .block {
    margin-bottom: 0.2em;
}

#topbar ul {
    margin: 0 0.4em 0 0.4em;
}

#topbar-wrapper ul.menu li {
    margin: 0 0.4em 0 0.4em;
}

#header .tb1, #header .tb2 {
border-top: 0px solid #000;
}

#topbar-wrapper {
background: none repeat-x bottom left #000; 
border-top: 2px solid #000;
}

#navigation {
background: none repeat-x 0 0 #000; 
border-bottom: 0px solid #6C8BA0;
border-top: 0px solid #000;
background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#000)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #292929,  #000); /* for firefox 3.6+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#000000'); /* for IE */
}

#navigation .section {
    background-color: transparent;
    line-height: 0.83em;
}

#sitecontent-wrapper {
 border-top: 1px solid #fff;
 background: url(../images/sitecontent-bg.png) repeat-x 0 0 #fff; 
 border-bottom: 1px solid #000;
}

#mainbottom-wrapper {
    background: none repeat scroll 0 0 transparent;
}

#bottom-wrapper {
 border-top: 1px solid #444;
}

#closure-wrapper {
}


#closure {
border-top: 1px solid #2b2b2b;
color: #afafaf;
background: url(../images/1pxlight.png)  repeat-x top left transparent; 
padding: 0.5em;
}

#feature {
background: url("../images/btmdropshdw.png") repeat-x scroll 0 -1px #6C8BA0;
color: #fff;
}

#feature .section {
background:none repeat scroll 0 0 transparent;
}


#preface-wrapper {
background:none repeat scroll 0 0 transparent;
}

#main-wrapper {

}

#main {
}

#header {
  background: none repeat-x bottom left transparent; 
}

#headercontent-wrapper-bg {
  background: url(../images/1pxlight.png)  repeat-x bottom left transparent; 
}

#headercontent-wrapper {
  background: url(../images/1pxlight.png)  repeat-x top left transparent; 
}

h1#site-name, div#site-name {
}

#name-and-slogan {
  padding: 0;
}

#topbar-wrapper {
}

#header .section {
}

#floater {
}

.with-sitename-slogan #logo {
    border-right: 1px solid #686C71;
}

#logo {
    margin: 0 0 0 0;
    padding: 0 15px 0 10px;
}

#name-and-slogan {
    padding: 0 10px 0 15px;
}

#site-name {
    text-shadow: 0px 1px 2px #3B3B3B;
}

#sitelogo {
}


#sitecontent{
}

#footer {
}

#footer .section {
}

.with-sidebar-footer #footer-preface-wrapper {
margin:0;
}

#footer-preface-wrapper {
margin:0;
}

#footer-content-bottom-wrapper {
margin:0;
}


#footer-content .block h2.title{
padding-top: 0;
}

#footer-content .section {
color: #ccc;
}

#footer-content-bottom-wrapper.with-footer-preface .block {
    border-top: 1px solid #444;
}

#footer-content-bottom-wrapper .block {
    background:none repeat-x scroll left top transparent;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#header {
border-top: 2px solid #000;
}

#headercontent-inner {
    padding:  0;
}

#headercontent-wrapper .column.HeaderRight .block .content {
float: right;
}


#headercontent-wrapper .column.HeaderRight #secondary-menu {
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
float: right;
border-style:solid;
border-width:1px;
padding: 0 0.4em 0.1em 0.4em;
}

#headercontent-wrapper .column.HeaderRight #secondary-menu {
background-color: #000;
border-width: 1px;
border-style: solid;
border-color: #000 #686c71 #686c71 #686c71;
}

#headercontent-wrapper .column.HeaderRight .block-menu,
#headercontent-wrapper .column.HeaderRight #secondary-menu {
    font-size: 90%;
    line-height: 2em;
    margin-bottom: 0;
}

#headercontent-wrapper ul {
    margin: 0;
    padding: 0;
}

#headercontent-wrapper li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

#headercontent-wrapper #secondary-menu {
    margin: 0;
}    

#headercontent-wrapper #secondary-menu li {
    margin: 0 0.25em;
}

#headercontent-wrapper .region-header-second  ul.menu li { 
    border-left: 1px solid #686c71;
    padding-left: 0.6em;
    margin: 0 0.15em;
}

#headercontent-wrapper .region-header-second  ul.menu li.first { 
    border-left: 0px solid #686c71;
}

#search {
    padding-right: 10px;
}



#topbar ul {

}

#topbar #search-box {
margin:0;
padding:0 0 0 15px;
}

/* blocks.css */

.region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3 {
background: transparent none repeat scroll 0 0;
border: 0;
}

.comment  {
background-color:#F4F4F4;
border-color:#efefef #E8E8E9 #E8E8E9 #efefef;
border-style:solid;
border-width:1px;
}


#feature .block h2.title, 
div.admin-panel h3,
#mainbottom-wrapper  .block h2.title,
#preface-wrapper  .block h2.title,
.region-content-top  .block h2.title,
#content-top-wrapper .block h2.title,
.region-content-bottom  .block h2.title,
#content-bottom-wrapper .block h2.title,
.region-sidebar-first .block h2.title, 
.region-sidebar-second .block h2.title
{
padding: 0 10px 8px 0px;
border-bottom: 1px dotted #d3d3d3;
}


/* site padding */

#feature .block h2.title {
    border-bottom: 1px solid #ccc;
}

#feature h2.title {
font-size: 140%;
color: #fff;
text-shadow: 0 1px 2px #3B3B3B;
}

/* Feature */

#topbar .block {
padding-left:10px;
padding-right:10px;
}

#feature .block {
padding-left:10px;
padding-right:10px;
}

#preface-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

#mainbottom-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

#bottomcontent-wrapper .block {
    padding-left: 10px;
    padding-right: 10px;
}

/* text colors */

#body {
}

#feature {
}

#topbar-wrapper {
border-top: 0px;
color: #ccc;
}

#topbar {
}

header {
}

#headercontent-wrapper .HeaderLeft {
    padding-top: 20px;
    padding-bottom: 20px;
}


#navigation{
}

#navbar-wrapper {
    background-color: transparent;
    }

#preface-wrapper{
}

#bottom {
color:#FFFFFF;
}

/* Link Colors */
a:link {
color: #5c6da3;
}

a:visited {
color: #5c6da3;
}

a:hover,
a:focus {
color: #5c6da3;
text-decoration: underline;
}

a:active {
color: #000;
}

li a.active,
a.active,
li.active {
color:#000000 !important;
background-color: transparent !important;
}

#header a:link {
color: #FFFFFF;
}

#header a:visited {
color: #FFFFFF;
}

#header a:hover,
#header a:focus {
color: #FFFFFF;
text-decoration: none;
}

#header a:active {
color: #FFFFFF;
}

#header li  a.active,  {
color: #FFFFFF;
}



#feature a:link {
color: #FFF;
text-decoration: underline;
}

#feature a:visited {
color: #FFF;
text-decoration: underline;
}

#feature a:hover,
#feature a:focus {
color: #fff;
text-decoration: underline;
}

#feature a:active {
color: #fff;
text-decoration: underline;
}

#feature li  a.active,  {
color: #fff;
text-decoration: underline;
}


#bottom a:link {
color: #ccc
}

#bottom a:visited {
color: #ccc
}

#bottom a:hover,
#bottom a:focus {
color: #fff
}

#bottom a:active {
color: #fff
}

#bottom li  a.active,  {
color: #fff
}

#closure a:link {
color: #efefef
}

#closure a:visited {
color: #efefef
}

#closure a:hover,
#closure a:focus {
color: #efefef
}

#closure a:active {
color: #efefef
}

#closure li  a.active,  {
color: #efefef
}


#footer a:link {
color: #ccc
}

#footer a:visited {
color: #ccc
}

#footer a:hover,
#footer a:focus {
color: #fff
}

#footer a:active {
color: #fff
}

#footer li  a.active,  {
color: #fff
}

/* superfish borders */
#nav li, #superfish li {
border-right: 1px solid #333;
}

#nav li.first, #superfish li.first {
    border-left: 1px solid #333;
}

#superfish .menu li li.first,
#superfish .menu li li li.first {
border-top:1px solid #333;
}

#superfish .menu li li,
#superfish .menu li li li {
border-bottom:1px solid #333; 
border-left:1px solid #333;
}

/* background and link colors */

#header #navigation li.active a {
background: #333;
}

#header #navigation li a,
#header #navigation li li a,
#header #navigation li li li a {
background: transparent;
}

#nav ul.menu li.active-trail, 
#superfish ul.menu li.active-trail, 
#nav ul.menu li:hover,
#superfish ul.menu li:hover {
background-color: #000;
opacity: 1;
}

#superfish .menu li li {
    background-color: #292929;
}

/* hover and active-trail color */ 
#header #navigation li a.active,
#header #navigation li a:visited .active,
#header #navigation li a:hover, 
#header #navigation li li a:hover, 
#header #navigation li li li a:hover {
background: #000 !important;
color: #fff !important;
}

/* superfish styling */

#navigation #nav, #navigation #superfish {
    padding-left: 10px;
}

#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
top:27px;
}

#nav li a, #superfish li a{
font-weight:normal;
text-transform:none;
}

#nav .menu a, #nav .menu a:visited, 
#superfish .menu a, 
#superfish .menu a:visited {
   padding: 5px 1em;
}

#superfish .menu li li {
top: -3px;
}

#superfish .menu li li li {
top: -1px;
}

#superfish .menu li, #nav .menu li {
    background: none repeat scroll 0 0 transparent;
    margin-right: 0px;  
}

#nav .menu a, #nav .menu a:visited, #superfish .menu a, #superfish .menu a:visited {
    padding-left: 1em;
    padding-right: 1em;
}

#superfish .menu a.sf-with-ul {
    padding-right: 1em;
}

#superfish .menu li a .sf-sub-indicator {
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}

#superfish .menu li li a .sf-sub-indicator {
	clip:rect(auto); /* IE6 & 7 */
	clip:rect(auto, auto, auto, auto);
}

/* Search Block */

#header #google-cse-searchbox-form .form-item,
#header #islandora-solr-simple-search-form .form-item {
margin: 0;
float: left;
}
  
#header #google-cse-searchbox-form .form-item label,
#header #islandora-solr-simple-search-form .form-item label,
#header #search-box .form-item label,
#header #search-block-form .form-item label	{ 
 color: #fff; /* Wrapper for the search form */
}  
  
#header #google-cse-searchbox-form .form-item input,
#header #islandora-solr-simple-search-form .form-item input, 
#header #search-box .form-item input,
#header #search-block-form .form-item input  {
  margin: 0px 0px 0 0;
  width: 200px;
  display: inline;
  height: 17px;
  font-size: 9.5pt;
  color: #CCC;
  -moz-border-radius: 3px;
  border-top-right: 3px;
  -moz-border-radius: 3px;
  border-top-left: 3px;
  padding-right: 20px;
   padding-left: 5px;
  border: 1px solid #000;
  -moz-box-shadow:0 1px 0 #444444;
  background: #666666 url(../images/insearch-magglass.png) no-repeat right center;
}

#header #google-cse-searchbox-form .form-item input:hover,
#header #islandora-solr-simple-search-form .form-item input:hover, 
#header #search-box .form-item input:hover,
#header #search-block-form .form-item input:hover  {
background: #777 url(../images/insearch-magglass.png) no-repeat right center;
color: #FFFFFF;
}

#header #google-cse-searchbox-form .form-item input:focus,
#header #islandora-solr-simple-search-form .form-item input:focus, 
#header #search-box .form-item input:focus,
#header #search-block-form .form-item input:focus  {
-moz-box-shadow: 0 0 3px #000000;
background:#EEEEEE url(../images/insearch-magglass.png) no-repeat right center;
border:1px solid #EEEEEE;
color:#333333;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-shadow:0 1px 0 #FFFFFF;
}


#header #google-cse-searchbox-form  input.form-submit, 
#header #islandora-solr-simple-search-form input.form-submit, 
#header #search-form input.form-submit, 
#header #search-box input.form-submit,
#header #search-block-form input.form-submit {
height: 21px;
width: 21px;
cursor: pointer;
text-indent: -9999px;
border: none;
/* background: url(../images/mag_glass/grey-mag_glass.png) no-repeat left top;  */
display: none;
clear: right;
}
  
#header #google-cse-searchbox-form  .block-search .form-item  textarea:focus,
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus, 
#header #islandora-solr-simple-search-form  .block-search .form-item  textarea:focus input:focus, 
#header #search-form  .block-search .form-item  textarea:focus, 
#header #search-form  .block-search .form-item  textarea:focus input:focus,
#header #search-block-form .block-search .form-item  textarea:focus,
#header #search-block-form .block-search .form-item  textarea:focus  input:focus	
{
  border: 2px solid #2E5067;
}

.prefaceimage img{
border:12px solid #dbdbdb;
}

.prefaceimage img:hover{
border:12px solid #e3e3e3;
}

.region-header-second div.block.with-block-editing div.edit {
    display:none;
}

#bottom .item-list .pager{
text-align: left;
margin-top: 5px;
}

/* fedora overrides */

